{include="public/header"}

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-12 col-xs-12">
         <h2 style="margin-top: 0px;">Últimas actualizaciones</h2>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th></th>
            <th class="text-left">Autor</th>
            <th class="text-left">Mensaje</th>
            <th class="text-right">
               <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </th>
            <th class="text-right" width="120">Cambios</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
         {if="!$value->privado OR $value->rid==$fsc->rid"}
         <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
            <td>
               {if="$value->privado"}
               <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
               {/if}
               {if="$value->destacado"}
               <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
               {/if}
               {if="$value->estado=='cerrado'"}
               <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
               {/if}
            </td>
            <td>{$value->email()}</td>
            <td>
               {$value->texto}
               {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
            </td>
            <td class="text-right">{$value->num_comentarios}</td>
            <td class="text-right">
               <a href="{$value->url()}">{$value->timesince()}</a>
            </td>
         </tr>
         {/if}
      {else}
      <tr class="bg-warning">
         <td colspan="5">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

<nav class="navbar navbar-inverse navbar-fixed-bottom hidden-xs">
   <div class="container">
      <p class="navbar-text">
         ¿Quieres apoyar el proyecto? Comparte esta web en redes sociales.
      </p>
      <div style="padding-top: 8px;">
         <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.facturascripts.com" data-text="El WordPress de la contabilidad y facturación" data-via="neorazorx" data-size="large" data-hashtags="facturascripts">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
   </div>
</nav>

{include="public/footer"}