{include="public/header"}

<div class="container-fluid" style="margin-top: 15px;">
   <div class="row">
      <div class="col-sm-5">
         <h1>Niveles de la comunidad</h1>
         <p>En esta nueva comunidad hay varios niveles de usuarios:</p>
         <ul>
            <li><b>Anónimo:</b> puede ver todas las preguntas, errores e ideas.</li>
            <li><b>Colaborador:</b> en el momento que usas tu email eres un colaborador, porque al fin y al cabo,
               informar de un error o hacer una sugerencia es colaborar.
            </li>
            <li><b>Usuario registrado:</b> disponible para programadores y distribuidores.</li>
            <li><b>Administrador</b>.</li>
         </ul>
      </div>
      {if="$fsc->visitante"}
      <div class="col-sm-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Tus datos de colaborador</h3>
            </div>
            <div class="panel-body">
               <form class="form" name="f_colabora" action="{$fsc->url()}" method="post">
                  <input type="hidden" name="humanity" value=""/>
                  <div class="form-group">
                     <input type="text" name="email" value="{$fsc->visitante->email}" class="form-control" placeholder="Tu email"/>
                  </div>
                  <div class="form-group">
                     Tu perfil
                     <select name="perfil" class="form-control">
                        <option value="{$fsc->visitante->perfil}">{$fsc->visitante->perfil}</option>
                        <option value="{$fsc->visitante->perfil}">------</option>
                        <option value="voluntario">Soy un simple voluntario</option>
                        <option value="programador">Soy programador</option>
                        <option value="distribuidor">Soy distribuidor de software</option>
                        <option value="sysadmin">Soy sysadmin</option>
                        <option value="contable">Soy contable/contador</option>
                     </select>
                  </div>
                  <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                  </button>
               </form>
            </div>
         </div>
      </div>
      {else}
      <div class="col-sm-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">¿Eres nuevo?</h3>
            </div>
            <div class="panel-body">
               <p>
                  Si eres nuevo en FacturaScripts y te gustaría colaborar, simplemente rellena este formulario ;-)
               </p>
               <form class="form" name="f_colabora" action="{$fsc->url()}" method="post">
                  <div class="form-group">
                     <input type="text" name="email" class="form-control" placeholder="tu email"/>
                  </div>
                  <div class="form-group">
                     ¿Cuál es tu perfil?
                     <select name="perfil" class="form-control">
                        <option value="voluntario">Soy un simple voluntario</option>
                        <option value="programador">Soy programador</option>
                        <option value="distribuidor">Soy distribuidor de software</option>
                        <option value="sysadmin">Soy sysadmin</option>
                        <option value="contable">Soy contable/contador</option>
                     </select>
                  </div>
                  <div class="input-group">
                     <input type="text" name="humanity" class="form-control" value="{function="mt_rand(0,9999)"}">
                     <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                           <span class="glyphicon glyphicon-heart"></span> &nbsp; Unirme
                        </button>
                     </span>
                  </div>
                  <p class="help-block"><b>Borra el número</b> para demostrar que eres humano.</p>
               </form>
            </div>
         </div>
      </div>
      {/if}
      <div class="col-sm-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">¿Usuario registrado?</h3>
            </div>
            <div class="panel-body">
               <form name="f_login" action="{$fsc->url()}" method="post" class="form" role="form">
                  <div class="form-group">
                     <input type="text" name="user" class="form-control" placeholder="Usuario" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                     <input type="password" class="form-control" name="password" maxlength="20" placeholder="Contraseña"/>
                  </div>
                  <button class="btn btn-block btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-log-in"></span> &nbsp; Iniciar sesión
                  </button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#bug1" aria-controls="bug1" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
            &nbsp; El bug #1
         </a>
      </li>
      <li role="presentation">
         <a href="#tuscosas" aria-controls="tuscosas" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            &nbsp; Tus cosas
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="bug1">
         <br/>
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <p>
                     A veces el principal obstáculo para un proyecto <b>no es algo técnico</b>
                     que solamente puedan solucionarlo unos pocos. A veces el obstáculo
                     es llegar a más gente y <mark>alcanzar esa masa crítica a partir de la cual
                        un buen proyecto se convierte en algo revolucionario</mark>.
                  </p>
                  <p>
                     Y precisamente este obstáculo es el que <b>necesita de más gente para solucionarlo</b>,
                     y a la vez, es el que necesita de menos esfuerzo por parte de esa gente.
                     Porque para promocionar un proyecto simplemente hay que mencionarlo.
                     No se necesitan conocimientos técnicos, ni formación, ni dedicación. Simplemente
                     recomendar el proyecto. Y ahora con las redes sociales, cada vez es más fácil.
                  </p>
                  <h2 class="text-center">Tu granito de arena</h2>
                  <br/>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.facturascripts.com" data-text="El WordPress de la contabilidad y facturación" data-via="neorazorx" data-size="large" data-hashtags="facturascripts">Tweet</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
               </div>
               <div class="col-sm-4">
                  <script src="https://apis.google.com/js/platform.js" async defer>
                     {lang: 'es'}
                  </script>
                  <div class="g-plusone" data-annotation="inline" data-width="300" data-href="https://www.facturascripts.com"></div>
               </div>
               <div class="col-sm-4">
                  <script>(function(d, s, id) {
                     var js, fjs = d.getElementsByTagName(s)[0];
                     if (d.getElementById(id)) return;
                     js = d.createElement(s); js.id = id;
                     js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3";
                     fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));</script>
                  <div class="fb-like" data-href="https://www.facturascripts.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tuscosas">
         <div class="table-responsive">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th class="text-left">Mensaje</th>
                     <th class="text-right">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                     </th>
                     <th class="text-right" width="120">Cambios</th>
                  </tr>
               </thead>
               {loop="$fsc->resultados"}
                  {if="!$value->privado OR $value->rid==$fsc->rid"}
                  <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
                     <td>
                        {if="$value->privado"}
                        <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                        {/if}
                        {if="$value->destacado"}
                        <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
                        {/if}
                        {if="$value->estado=='cerrado'"}
                        <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
                        {/if}
                     </td>
                     <td>
                        {$value->texto}
                        {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
                     </td>
                     <td class="text-right">{$value->num_comentarios}</td>
                     <td class="text-right">
                        <a href="{$value->url()}">{$value->timesince()}</a>
                     </td>
                  </tr>
                  {/if}
               {else}
               <tr class="bg-warning">
                  <td colspan="4">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
</div>

{include="public/footer"}