{include="public/header"}

<div class="container-fluid" style="margin-top: 15px;">
   <div class="row">
      <div class="col-md-4">
         <h2>Niveles de la comunidad</h2>
         <p>En esta nueva comunidad hay varios niveles de usuarios:</p>
         <ul>
            <li>Anónimo: puede ver todas las preguntas, errores e ideas.</li>
            <li>
               Colaborador: en el momento que usas tu email eres un colaborador, porque al fin y al cabo,
               informar de un error o hacer una sugerencia es colaborar.
            </li>
            <li>Usuario registrado: estará disponible próximamente para programadores y distribuidores.</li>
            <li>Administrador.</li>
         </ul>
      </div>
      {if="$fsc->visitante"}
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Tus datos de colaborador</h3>
            </div>
            <div class="panel-body">
               <form class="form" name="f_colabora" action="{$fsc->url()}" method="post">
                  <input type="hidden" name="humanity" value=""/>
                  <div class="form-group">
                     <input type="text" name="email" value="{$fsc->visitante->email}" class="form-control" placeholder="tu email"/>
                  </div>
                  <div class="form-group">
                     Tu perfil
                     <select name="perfil" class="form-control">
                        <option value="voluntario"{if="$fsc->visitante->perfil=='voluntario'"} selected="selected"{/if}>soy un simple voluntario</option>
                        <option value="programador"{if="$fsc->visitante->perfil=='programador'"} selected="selected"{/if}>soy programador</option>
                        <option value="distribuidor"{if="$fsc->visitante->perfil=='distribuidor'"} selected="selected"{/if}>soy distribuidor de software</option>
                        <option value="sysadmin"{if="$fsc->visitante->perfil=='sysadmin'"} selected="selected"{/if}>soy sysadmin</option>
                        <option value="contable"{if="$fsc->visitante->perfil=='contable'"} selected="selected"{/if}>soy contable/contador</option>
                     </select>
                  </div>
                  <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                  </button>
               </form>
            </div>
         </div>
      </div>
      {else}
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">¿Eres nuevo?</h3>
            </div>
            <div class="panel-body">
               <p>
                  Si eres nuevo en FacturaScripts y te gustaría colaborar, simplemente rellena este formulario ;-)
               </p>
               <form class="form" name="f_colabora" action="{$fsc->url()}" method="post">
                  <div class="form-group">
                     <input type="text" name="email" class="form-control" placeholder="tu email"/>
                  </div>
                  <div class="form-group">
                     ¿Cuál es tu perfil?
                     <select name="perfil" class="form-control">
                        <option value="voluntario">soy un simple voluntario</option>
                        <option value="programador">soy programador</option>
                        <option value="distribuidor">soy distribuidor de software</option>
                        <option value="sysadmin">soy sysadmin</option>
                        <option value="contable">soy contable/contador</option>
                     </select>
                  </div>
                  <div class="input-group">
                     <input type="text" name="humanity" class="form-control" value="{function="mt_rand(0,9999)"}">
                     <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                           <span class="glyphicon glyphicon-heart"></span> &nbsp; Unirme
                        </button>
                     </span>
                  </div>
                  <p class="help-block"><b>Borra el número</b> para demostrar que eres humano.</p>
               </form>
            </div>
         </div>
      </div>
      {/if}
      <div class="col-md-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">¿Usuario registrado?</h3>
            </div>
            <div class="panel-body">
               <form name="f_login" action="index.php?nlogin={$nlogin}" method="post" class="form" role="form">
                  <div class="form-group">
                     <input type="text" name="user" class="form-control" placeholder="Usuario" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                     <input type="password" class="form-control" name="password" maxlength="20" placeholder="Contraseña"/>
                  </div>
                  <button class="btn btn-block btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-log-in"></span> &nbsp; Iniciar sesión
                  </button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<ul class="nav nav-tabs">
   <li role="presentation" class="active"><a href="#">Tus cosas</a></li>
</ul>
<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th></th>
            <th class="text-left">Mensaje</th>
            <th class="text-right">
               <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </th>
            <th class="text-right" width="120">Cambios</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
         {if="!$value->privado OR $value->rid==$fsc->rid"}
         <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
            <td>
               {if="$value->privado"}
               <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
               {/if}
               {if="$value->destacado"}
               <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
               {/if}
               {if="$value->estado=='cerrado'"}
               <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
               {/if}
            </td>
            <td>{$value->texto}</td>
            <td class="text-right">{$value->num_comentarios}</td>
            <td class="text-right">
               <a href="{$value->url()}">{$value->timesince()}</a>
            </td>
         </tr>
         {/if}
      {else}
      <tr class="bg-warning">
         <td colspan="4">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

{include="public/footer"}