{include="public/header"}

<div class="container">
   <div class="row">
      <div class="col-lg-12 text-center">
         <h1>Has tomado la mejor decisión ;-)</h1>
         <p>No olvides volver por aquí si tienes cualquier duda, problema o sugrencia.</p>
         <a class="btn btn-primary btn-lg" href="https://github.com/NeoRazorX/facturascripts_2015/archive/master.zip">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            &nbsp; FacturaScripts {$fsc->last_version}
         </a>
         <p class="help-block">{$fsc->total_descargas} descargas y sumando...</p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#tutorial" aria-controls="tutorial" role="tab" data-toggle="tab">Tutorial</a>
            </li>
            <li role="presentation">
               <a href="#github" aria-controls="github" role="tab" data-toggle="tab">Github</a>
            </li>
         </ul>
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tutorial">
               <br/>
               <p>Tienes varias opciones para instalar FacturaScripts:</p>
               <ul>
                  <li>
                     <b>Instalarlo en un hosting</b>: FacturaScripts es una aplicación web,
                     así que si tienes un hosting contratado donde alojas tu web,
                     blog o tienda online, puedes instalarlo ahí mimso. Simplemente
                     descarga este archivo y copialo a tu hosting.
                     <ul>
                        <li>
                           <b>Hostings recomendados</b>:
                           <ul>
                              <li>
                                 <a href="http://www.loading.es/clientes/aff.php?aff=857">Loading.es</a>:
                                 la mejor alternativa.
                              </li>
                              <li>
                                 <a href="https://www.digitalocean.com/?refcode=f9fd92108615">DigitalOcean</a>:
                                 el hosting más rápido y potente para montar facturaScripts y lo que quieras.
                                 <b>Sólo expertos</b>.
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <b>Instalarlo en tu PC o servidor</b>: solamente necesitas un servidor
                     web con Apache, PHP y MySQL o PostgreSQL.
                     <ul>
                        <li>
                           <b>Instalar FacturaScripts en Windows</b>:
                           <ol>
                              <li>Descarga FacturaScripts.</li>
                              <li>
                                 Descarga e instala
                                 <a href="https://www.apachefriends.org/es/index.html">XAMPP para Windows</a>.
                              </li>
                              <li>Sigue el tutorial del vídeo de más abajo.</li>
                           </ol>
                        </li>
                        <li>
                           <a href="{function="comm3_path()"}index.php?page=community_item&id=370">Instalar FacturaScripts en Linux</a>.
                        </li>
                     </ul>
                  </li>
               </ul>
               <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="420" height="315" src="https://www.youtube.com/embed/-5J42fcuIso" frameborder="0" allowfullscreen></iframe>
               </div>
               <br/>
               <a href='{function="comm3_path()"}index.php?page=community_questions' class="btn btn-block btn-info">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                  &nbsp; más en la sección preguntas
               </a>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="hosting">
               <br/>
               <p>
                  Estamos trabajando para integrar FacturaScripts en los principales hostings
                  de habla hispana. Mientras tanto recomendamos
                  <a href="http://www.loading.es/clientes/aff.php?aff=857">Loading</a>.
               </p>
               <a href="http://www.loading.es/clientes/aff.php?aff=857" class="thumbnail">
                  <img src="plugins/community3/view/img/hosting.jpg" alt="hosting"/>
               </a>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="github">
               <br/>
               <p>
                  La URL del repositorio Git es esta:
                  <a href="https://github.com/NeoRazorX/facturascripts_2015" target="_blank">https://github.com/NeoRazorX/facturascripts_2015</a>
               </p>
               <p>Si quieres descargar el código fuente directamente desde git, simplemente abre un terminal y escribe:</p>
               <pre>git clone https://github.com/NeoRazorX/facturascripts_2015.git</pre>
               <a href='{function="comm3_path()"}index.php?page=community_item&amp;tag=curso_2015' target='_blank' class='btn btn-block btn-danger'>
                  <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                  &nbsp; Curso de FacturaScripts 2015
               </a>
            </div>
         </div>
      </div>
   </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom hidden-xs">
   <div class="container">
      <p class="navbar-text">
         ¿Quieres apoyar el proyecto? Comparte esta web en redes sociales.
      </p>
      <div style="padding-top: 8px;">
         <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.facturascripts.com" data-text="El WordPress de la contabilidad y facturación" data-via="neorazorx" data-size="large" data-hashtags="facturascripts">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
   </div>
</nav>

{include="public/footer"}