{include="public/header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#btn_cloud").click(function() {
         $("#btn_windows").removeClass('active');
         $("#div_windows").hide();
         
         $("#btn_cloud").addClass('active');
         $("#div_cloud").show();
      });
      $("#btn_windows").click(function() {
         $("#btn_cloud").removeClass('active');
         $("#div_cloud").hide();
         
         $("#btn_windows").addClass('active');
         $("#div_windows").show();
      });
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h2>
               <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
               ¿Dónde vas a instalarlo?
            </h2>
         </div>
         <p class="help-block">
            FacturaScripts es básicamente una aplicación web, como un blog,
            y para instalarlo <b>necesitas un servidor web</b>. Puedes instalarlo en tu
            propio ordenador, o bien puedes instalarlo en la nube (un hosting) y tenerlo
            disponible siempre online desde cualquier parte del mundo.<br/>
            Tú decides ;-)
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <a href="#" id="btn_cloud" class="btn btn-lg btn-block btn-default">
            <i class="fa fa-cloud fa-5x"></i>
            <br/>
            La nube
         </a>
      </div>
      <div class="col-sm-3">
         <a href="#" id="btn_windows" class="btn btn-lg btn-block btn-default">
            <i class="fa fa-windows fa-5x"></i>
            <br/>
            Windows
         </a>
      </div>
      <div class="col-sm-3">
         <a href="{function="comm3_path()"}index.php?page=community_item&id=370" class="btn btn-lg btn-block btn-default">
            <i class="fa fa-linux fa-5x"></i>
            <br/>
            Linux
         </a>
      </div>
      <div class="col-sm-3">
         <a href="{function="comm3_path()"}index.php?page=community_item&id=1796" class="btn btn-lg btn-block btn-default">
            <i class="fa fa-apple fa-5x"></i>
            <br/>
            Mac
         </a>
      </div>
   </div>
</div>

<br/>

<div id="div_cloud" class="container-fluid" style="display: none;">
   <div class="row">
      <div class="col-sm-3">
         <a class="btn btn-lg btn-block btn-primary" href="https://github.com/NeoRazorX/facturascripts_2015/archive/master.zip">
            <i class="fa fa-archive fa-5x"></i>
            <br/>
            FacturaScripts {$fsc->last_version}
         </a>
         <p class="help-block">Archivo ZIP para instalar en cualquier servidor web.</p>
      </div>
      <div class="col-sm-3">
         <a href="https://www.zapahosting.com/link.php?id=1" target="_blank" class="thumbnail">
            <img src="{function="comm3_path()"}plugins/community3/view/img/zapahosting.jpg" alt="zapahosting"/>
         </a>
      </div>
      <div class="col-sm-3">
         <a href="https://www.hostingstark.com/facturascripts/" target="_blank" class="thumbnail">
            <img src="{function="comm3_path()"}plugins/community3/view/img/hostingstark.jpg" alt="hosting stark"/>
         </a>
      </div>
      <div class="col-sm-3">
         <a href="#" class="btn btn-lg btn-block btn-default" data-toggle="modal" data-target="#modal_hostinger">
            <i class="fa fa-globe fa-5x"></i>
            <br/>
            Hostinger.es
         </a>
         <p class="help-block">Hosting gratuito.</p>
      </div>
   </div>
</div>

<div id="div_windows" class="container-fluid" style="display: none;">
   <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
         <a href="https://www.facturascripts.com/FacturaScripts.exe" class="btn btn-lg btn-block btn-primary">
            <i class="fa fa-download fa-5x"></i>
            <br/>
            Descargar
         </a>
      </div>
      <div class="col-sm-6">
         <ol>
            <li>Descarga el ejecutable.</li>
            <li>Instala dónde quieras.</li>
            <li>Ejecuta <b>configurar.bat</b></li>
            <li>Ejecuta <b>iniciar.exe</b></li>
            <li>Entra en <b>http://localhost</b></li>
         </ol>
      </div>
   </div>
</div>

<br/>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-4 col-md-3">
         <br/>
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">¿Tienes dudas?</h3>
            </div>
            <div class="panel-body">
               <p class="help-block">
                  FacturaScripts lleva a sus espaldas más de <b>{$fsc->total_descargas}</b>
                  descargas y sumando.
               </p>
               <p class="help-block">
                  <b>{$fsc->total_usuarios}</b> usuarios activos.
               </p>
               <p class="help-block">
                  Y tienes <b>actualizaciones semanales</b> con nuevas características y correcciones.
               </p>
            </div>
            <div class="panel-footer">
               <a href="{function="comm3_path()"}index.php?page=community_feedback&amp;feedback_contacto=TRUE" class="btn btn-block btn-primary">
                  <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> ¿Necesitas asesoramiento?
               </a>
            </div>
         </div>
      </div>
      <div class="col-sm-8 col-md-9">
         <div class="page-header">
            <h3>
               <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
               Licencia y código
            </h3>
         </div>
         <p class="help-block">
            El código fuente de FacturaScripts está disponible en Github,
            tiene <a href="COPYING" target="_blank">licencia Lesser GPL 3</a>,
            es el mismo código que descargas y puedes obtenerlo aquí:
            <a href="https://github.com/NeoRazorX/facturascripts_2015" target="_blank">https://github.com/NeoRazorX/facturascripts_2015</a>
         </p>
         <p class="help-block">
            Eso si, cada plugin tiene su propio repositorio, normalmente en
            GitHub, pero no siempre. Puedes ver el repositorio de cada plugin
            desde la web de ese plugin.
         </p>
         <p class="help-block">
            Si quieres modificar FacturaScripts o alguno de sus plugins,
            no olvides que tienes que copiar los archivos que modifiques
            a tu propio plugin, sino cuando haya actualizaciones perderás
            los cambios.
         </p>
         <a href='{function="comm3_url('index.php?page=community_docs')"}' class='btn btn-sm btn-default'>
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            &nbsp; Documentación
         </a>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_hostinger" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Instalar FacturaScripts en hostinger</h4>
         </div>
         <div class="modal-body">
            <a class="btn btn-block btn-primary" href="https://github.com/NeoRazorX/facturascripts_2015/archive/master.zip">
               <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
               &nbsp; FacturaScripts {$fsc->last_version}
            </a>
            <br/>
            <div class="embed-responsive embed-responsive-16by9">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/7v4OFL9A1Ms" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
         <div class="modal-footer">
            <a href="http://api.hostinger.es/redir/11910669" target="_blank" class="btn btn-sm btn-block btn-default">
               <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
               &nbsp; Hostinger.es
            </a>
         </div>
      </div>
   </div>
</div>

{include="public/footer"}