{include="public/header"}

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-4">
         <a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal_nuevo_error">
            <span class="glyphicon glyphicon-pencil"></span> &nbsp; Nuevo
         </a>
      </div>
      <div class="col-sm-8 text-right">
         <h2 style="margin-top: 0px;">Errores</h2>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th class="text-left">Autor</th>
            <th class="text-left">Mensaje</th>
            <th class="text-right">
               <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </th>
            <th class="text-right" width="120">Cambios</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
         {if="!$value->privado OR $value->rid==$fsc->rid"}
         <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
            <td>
               {if="$value->privado"}
               <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
               {/if}
               {if="$value->destacado"}
               <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
               {/if}
               {if="$value->estado=='cerrado'"}
               <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
               {/if}
            </td>
            <td>{$value->email()}</td>
            <td>
               {$value->texto}
               {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
            </td>
            <td class="text-right">{$value->num_comentarios}</td>
            <td class="text-right">
               <a href="{$value->url()}">{$value->timesince()}</a>
            </td>
         </tr>
         {/if}
      {else}
      <tr class="bg-warning">
         <td colspan="5">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

<div class="modal fade" id="modal_nuevo_error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Informes de error</h4>
         </div>
         <div class="modal-body">
            <p>Si puedes, es mejor que envíes los informes de error desde FacturaScripts.</p>
            <div class="thumbnail">
               <img src="view/img/help-menu.png" alt="fs"/>
            </div>
         </div>
      </div>
   </div>
</div>

{include="public/footer"}