{include="public/header"}

<script type="text/javascript">
   $(document).ready(function() {
      {if="$fsc->visitante"}
      document.f_new_item.feedback_text.focus();
      {else}
      document.f_new_item.feedback_email.focus();
      {/if}
   });
</script>

<form name="f_new_item" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="feedback_info" value="{$fsc->feedback_info}"/>
   <input type="hidden" name="feedback_type" value="question"/>
   <input type="hidden" name="feedback_privado" value="TRUE"/>
   <input type="hidden" name="feedback_contacto" value="TRUE"/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-8">
            <div class="page-header">
               <h1>
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp; Contacto
               </h1>
               <p class="help-block">
                  Indique su nombre, empresa y la consulta que quiere hacer.
                  Si prefiere contactar por teléfono, dispone de la lista de partners
                  <span class="hidden-xs">a su derecha.</span>
                  <span class="visible-xs">en la parte de abajo de esta página.</span>
               </p>
            </div>
            <div class="form-group">
               {if="$fsc->visitante"}
               <input name="feedback_email" type="text" value="{$fsc->visitante->email}" class="form-control" placeholder="Tu email (obligatorio)" disabled="disabled"/>
               {else}
               <input name="feedback_email" type="text" value="{$fsc->feedback_email}" class="form-control" placeholder="Tu email (obligatorio)"/>
               {/if}
               <p class="help-block">
                  <span class="glyphicon glyphicon-eye-close"></span> &nbsp;
                  Esta consulta es privada, solamente la podréis ver tú y el administrador.
               </p>
            </div>
            <div class="form-group">
               <textarea class="form-control" name="feedback_text" rows="10" placeholder="Nombre y apellidos, empresa, tu mensaje...">{$fsc->feedback_text}</textarea>
            </div>
            <div class="g-recaptcha" data-sitekey="6LeAGQQTAAAAAL3GFBnreNQ5sHCxIW3xQx_Qd1Da"></div>
            <br/>
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
            </button>
         </div>
         <div class="col-sm-4">
            <div class="visible-xs">
               <br/>
            </div>               
            <div class="list-group">
               <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">
                     <span class="glyphicon glyphicon-phone-alt"></span>
                     ¿Prefiere teléfono?
                  </h4>
                  <p class="list-group-item-text">
                     Llame por teléfono para recibir asesoramiento comercial.
                  </p>
                  <p class="list-group-item-text">
                     Sólo España<br/>
                     Telf: (+34) 965 063 485
                  </p>
               </a>
               <a href="#" class="list-group-item active">
                  <h4 class="list-group-item-heading">Lista de Partners</h4>
                  <p class="list-group-item-text">
                     Contacte con cualquiera de estos partners
                     para recibir soporte profesional.
                  </p>
               </a>
               {loop="$fsc->partners()"}
               <a href="{$value->link}" target="_blank" class="list-group-item">
                  <h4 class="list-group-item-heading">
                     <span class="glyphicon glyphicon-bookmark"></span>
                     {$value->nombrecomercial}
                  </h4>
                  <p class="list-group-item-text">{$value->descripcion()}</p>
               </a>
               {/loop}
            </div>
         </div>
      </div>
   </div>
</form>

{include="public/footer"}