{include="public/header"}

<script type="text/javascript">
   $(document).ready(function() {
      {if="$fsc->visitante"}
      document.f_new_item.feedback_text.focus();
      {else}
      document.f_new_item.feedback_email.focus();
      {/if}
   });
</script>

<form name="f_new_item" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="feedback_info" value="{$fsc->feedback_info}"/>
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               {if="$fsc->feedback_partner"}
               <h1>Contacto</h1>
               {else}
               <h1>¿Qué quieres escribir?</h1>
               {/if}
            </div>
         </div>
      </div>
      <div class="row">
         {if="$fsc->feedback_partner"}
         <input type="hidden" name="feedback_type" value="question"/>
         <input type="hidden" name="feedback_privado" value="TRUE"/>
         <input type="hidden" name="feedback_partner" value="TRUE"/>
         {else}
         <div class="col-sm-6">
            <div class="form-group">
               <select name="feedback_type" class="form-control">
                  <option value="question"{if="$fsc->feedback_type=='question'"} selected="selected"{/if}>Una pregunta</option>
                  <option value="error"{if="$fsc->feedback_type=='error'"} selected="selected"{/if}>Un informe de error</option>
                  <option value="idea"{if="$fsc->feedback_type=='idea'"} selected="selected"{/if}>Una idea</option>
               </select>
               <label>
                  <input type="checkbox" name="feedback_privado" value="TRUE"{if="$fsc->feedback_privado"} checked="checked"{/if}/>
                  Quiero que este mensaje sea privado.
               </label>
            </div>
         </div>
         {/if}
         <div class="col-sm-6">
            <div class="form-group">
               {if="$fsc->visitante"}
               <input name="feedback_email" type="text" value="{$fsc->visitante->email}" class="form-control" placeholder="Tu email (obligatorio)" disabled="disabled"/>
               {else}
               <input name="feedback_email" type="text" value="{$fsc->feedback_email}" class="form-control" placeholder="Tu email (obligatorio)"/>
               {/if}
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="form-group">
               {if="$fsc->feedback_partner"}
               <textarea class="form-control" name="feedback_text" rows="10" placeholder="Nombre y apellidos, empresa, tu mensaje...">{$fsc->feedback_text}</textarea>
               {else}
               <textarea class="form-control" name="feedback_text" rows="10" placeholder="Cuéntame...">{$fsc->feedback_text}</textarea>
               {/if}
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4">
            <div class="checkbox">
               <label>
                  <input type="checkbox" name="spam1" value="{function="date('d')"}"/> Soy humano
               </label>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="checkbox">
               <label>
                  {if="mt_rand(0,1)==0"}
                  <input type='checkbox' name='spam2' value='{function="mt_rand(0,9999)"}' checked=''/> Estoy mintiendo
                  {else}
                  <input type='checkbox' name='spam2' value='{function="mt_rand(0,9999)"}'/> Estoy mintiendo
                  {/if}
               </label>
            </div>
         </div>
         <div class="col-sm-4 text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
            </button>
         </div>
      </div>
      {if="!$fsc->feedback_partner"}
      <div class="row">
         <div class="col-sm-12">
            <br/>
            <div class="well">
               <ul>
                  <li>
                     <b>Se valora muy positivamente:</b>
                     <ul>
                        <li>Las ideas que son fruto de la observación.</li>
                        <li>Las explicaciones claras y concisas.</li>
                        <li>Las explicaciones que cómo se trabaja en tu negocio/sector.</li>
                        <li>Las imágenes o vídeos de como se hace una tarea en otro programa.</li>
                        <li>Las aportaciones de código.</li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      {/if}
   </div>
</form>

{include="public/footer"}