{include="public/header"}

<form name="f_new_item" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="feedback_info" value="{$fsc->feedback_info}"/>
   <input type="hidden" name="feedback_type" value="question"/>
   <input type="hidden" name="feedback_privado" value="TRUE"/>
   <input type="hidden" name="feedback_contacto" value="TRUE"/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
               <li role="presentation" class="active">
                  <a href="#contacto" aria-controls="contacto" role="tab" data-toggle="tab">
                     <span class="glyphicon glyphicon-envelope"></span>&nbsp; Contacto
                  </a>
               </li>
               <li role="presentation">
                  <a href="#telefonos" aria-controls="telefonos" role="tab" data-toggle="tab">
                     <span class="glyphicon glyphicon-phone-alt"></span>&nbsp; Teléfonos
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="contacto">
            <div class="row">
               <div class="col-sm-12">
                  <br/>
                  <p class='help-block'>
                     <i class="fa fa-info-circle"></i>
                     Indique su nombre, empresa y la consulta que desea hacer.
                     Le contestaremos lo antes posible.
                  </p>
                  <div class="form-group">
                     {if="$fsc->visitante"}
                     <input name="feedback_email" type="text" value="{$fsc->visitante->email}" class="form-control" placeholder="Su email (obligatorio)" disabled="disabled"/>
                     {else}
                     <input name="feedback_email" type="text" value="{$fsc->feedback_email}" class="form-control" placeholder="Su email (obligatorio)"/>
                     {/if}
                  </div>
                  <div class="form-group">
                     <textarea class="form-control" name="feedback_text" rows="10" placeholder="Nombre y apellidos, empresa, Su mensaje...">{$fsc->feedback_text}</textarea>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6LeAGQQTAAAAAL3GFBnreNQ5sHCxIW3xQx_Qd1Da"></div>
                  <br/>
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
                  </button>
               </div>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="telefonos">
            <div class="row">
               <div class="col-sm-6">
                  <br/>
                  <p class='help-block'>
                     <i class="fa fa-info-circle fa-2x"></i>&nbsp; Tenga en cuenta esto:
                  </p>
                  <ul>
                     <li>
                        <b>¿Todavía no ha probado FacturaScripts?</b>
                        <ul>
                           <li>
                              Hágalo primero. Dispone de una
                              <a href="http://www.facturascripts.com/demo">demo online</a>.
                           </li>
                        </ul>
                     </li>
                     <li>
                        <b>¿Tiene problemas con algún plugin?</b>
                        <ul>
                           <li>
                              Use la pestaña contacto.
                              Nuestro personal técnico es el encargado de solucionar estas incidencias.
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <div class="col-sm-6">
                  <br/>
                  <div class="list-group">
                     <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                           <span class="glyphicon glyphicon-phone-alt"></span>
                           FacturaScripts
                        </h4>
                        <p class="list-group-item-text">
                           Llame por teléfono para recibir asesoramiento comercial.
                        </p>
                        <p class="list-group-item-text">
                           Sólo España<br/>
                           Telf: (+34) 965 063 485
                        </p>
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <h4>
                     Contacte con cualquiera de estos partners
                     para recibir asesoramiento comercial o contratar soporte profesional:
                  </h4>
               </div>
            </div>
            <div class="row">
            {loop="$fsc->partners()"}
            {if="$counter%3==0"}
            </div><div class="row">
            {/if}
               <div class="col-sm-4">
                  <blockquote class="bg-success">
                     <h4>
                        <span class="glyphicon glyphicon-bookmark"></span>
                        <a href="{$value->link}" target="_blank">{$value->nombrecomercial}</a>
                     </h4>
                     <p class="help-block">{$value->descripcion()}</p>
                  </blockquote>
               </div>
            {/loop}
            </div>
         </div>
      </div>
   </div>
</form>

{include="public/footer"}