{include="public/header"}

<script type="text/javascript">
   $(document).ready(function() {
      {if="$fsc->visitante"}
      document.f_new_item.feedback_text.focus();
      {else}
      document.f_new_item.feedback_email.focus();
      {/if}
   });
</script>

<form name="f_new_item" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="feedback_info" value="{$fsc->feedback_info}"/>
   {if="$fsc->feedback_partner"}
   <input type="hidden" name="feedback_type" value="question"/>
   <input type="hidden" name="feedback_privado" value="TRUE"/>
   <input type="hidden" name="feedback_partner" value="TRUE"/>
   {/if}
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               {if="$fsc->feedback_partner"}
               <h1>Contacto</h1>
               {else}
               <h1>¿Qué quieres escribir?</h1>
               {/if}
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-8">
            {if="!$fsc->feedback_partner"}
            <div class="form-group">
               <select name="feedback_type" class="form-control">
                  <option value="question"{if="$fsc->feedback_type=='question'"} selected="selected"{/if}>Una pregunta</option>
                  <option value="error"{if="$fsc->feedback_type=='error'"} selected="selected"{/if}>Un informe de error</option>
                  <option value="idea"{if="$fsc->feedback_type=='idea'"} selected="selected"{/if}>Una idea</option>
               </select>
               <label>
                  <input type="checkbox" name="feedback_privado" value="TRUE"{if="$fsc->feedback_privado"} checked="checked"{/if}/>
                  Quiero que este mensaje sea privado.
               </label>
            </div>
            {/if}
            <div class="form-group">
               {if="$fsc->visitante"}
               <input name="feedback_email" type="text" value="{$fsc->visitante->email}" class="form-control" placeholder="Tu email (obligatorio)" disabled="disabled"/>
               {else}
               <input name="feedback_email" type="text" value="{$fsc->feedback_email}" class="form-control" placeholder="Tu email (obligatorio)"/>
               {/if}
            </div>
            {if="!$fsc->feedback_partner"}
            <div class="form-group">
               ¿La consulta es sobre algún plugin concreto?
               <select name="feedback_plugin" class="form-control">
                  <option value="">ningún plugin concreto</option>
                  <option value="">------</option>
                  {loop="$fsc->plugins"}
                     {if="$value->id==$fsc->feedback_plugin"}
                     <option value="{$value->id}" selected="">{$value->nombre} &nbsp; ({$value->nick})</option>
                     {else}
                     <option value="{$value->id}">{$value->nombre} &nbsp; ({$value->nick})</option>
                     {/if}
                  {/loop}
               </select>
            </div>
            {/if}
            <div class="form-group">
               {if="$fsc->feedback_partner"}
               <textarea class="form-control" name="feedback_text" rows="10" placeholder="Nombre y apellidos, empresa, tu mensaje...">{$fsc->feedback_text}</textarea>
               {else}
               <textarea class="form-control" name="feedback_text" rows="10" placeholder="Cuéntame...">{$fsc->feedback_text}</textarea>
               {/if}
            </div>
            <div class="g-recaptcha" data-sitekey="6LeAGQQTAAAAAL3GFBnreNQ5sHCxIW3xQx_Qd1Da"></div>
            <br/>
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
            </button>
         </div>
         <div class="col-sm-4">
            <div class="list-group">
               <a href="#" class="list-group-item active">
                  <h4 class="list-group-item-heading">Lista de partners</h4>
               </a>
               {loop="$fsc->partners()"}
               <a href="{$value->link}" target="_blank" class="list-group-item">
                  <h4 class="list-group-item-heading">
                     <span class="glyphicon glyphicon-bookmark"></span>
                     {$value->nombrecomercial}
                  </h4>
                  <p class="list-group-item-text">{$value->descripcion()}</p>
               </a>
               {/loop}
            </div>
         </div>
      </div>
   </div>
</form>

{include="public/footer"}