{include="public/header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>Programa para hacer facturas | Programa facturacion gratuito</h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <p class="text-justify">
            Facturascripts es un <b>programa de facturación gratuito</b>, que incluye un gran número de
            funcionalidades para hacerte el día a día, mucho más sencillo y llevadero como programa para
            hacer facturas. Puedes automatizar muchos parámetros que agilizan el proceso de hacer una
            factura, y no te olvides que facturascripts es un <b>programa para hacer facturas gratis</b>. Todo esto en
            conjunto, lo convierte en un <b>programa para hacer facturas</b> muy completo y dinámico, ya que tiene
            constantes mejoras y nuevos complementos que se ajustan al máximo con los diferentes sectores
            empresariales que hay en el mercado: autónomos, Pymes, hostelería, tallas y colores,
            supermercado, servicios técnicos…
         </p>
         <p class="text-justify">
            Debido a las constantes nuevas peticiones de organismos como hacienda y seguridad social,
            facturascripts, está preparado para los requerimientos actuales y futuros en facturación. Un
            ejemplo de ello, es la posibilidad de creación de facturas electrónicas de obligado uso para
            instituciones públicas. Si trabajas para un ayuntamiento o gobierno regional/nacional lo vas a
            necesitar, y facturascripts ya lo tiene, ¡es tu <b>programa para hacer facturas</b>!
         </p>
      </div>
      <div class="col-sm-6">
         <div class="thumbnail">
            <img src='{function="comm3_path()"}plugins/community3/view/img/mac.png' alt='preview'/>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/><br/>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <div class="embed-responsive embed-responsive-16by9">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/B7o9pfF4NYA" frameborder="0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="col-sm-6">
         <p class="text-justify">
            Una de las razones de la rápida expansión de facturascripts, ha sido que es un programa para
            hacer facturas gratis. Sin módulos que añadir, es capaz de realizar una facturación básica sin
            mayor complicación. En la mayoría de los casos es lo que debe hacer un programa para hacer
            facturas gratis, pero existen un conjunto de personalizaciones que, no realizan los módulos base y
            se complementan con plugins especiales. Facturascripts es un <b>programa de facturación gratuito</b> ,
            pero si quieres personalizarlo a tu gusto, tienes infinidad de módulos con los que complementarlo.
         </p>
         <p class="text-justify">
            Un <b>programa de facturación gratuito</b> como Facturascripts, no se olvida que en la comunidad
            hispana compartimos algo más que el idioma. En muchos países hispano-hablantes compartimos
            un parecido sistema de facturación y contabilidad. Para cada caso concreto se evalúa el plan
            contable y los diferentes nombres que se dan en cada país a presupuestos, pedidos, albaranes y
            facturas, pudiendo personalizarlos dentro del programa y en la impresión de los mismos. Cada vez
            más países latinoamericanos están incluidos en los planes contables que Facturascripts gestiona.
            Esto está aumentando exponencialmente el número de empresas y países en los que 
            Facturascripts se implanta como <b>programa para hacer facturas</b>, y enriquece su núcleo con nuevas
            funcionalidades que nuestros nuevos usuarios nos solicitan.
         </p>
         <p class="text-justify">
            Nos enorgullece ver como Facturascripts crece y complementa con estas aportaciones, que lo
            enriquecen y hacen llegar a un mayor número de usuarios, pudiendo extraer de su experiencia un
            mejor <b>programa de facturación gratuito</b> como es Facturascripts.
         </p>
      </div>
   </div>
</div>

{include="public/footer"}