{include="public/header"}

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-4 col-xs-4">
         <a href="index.php?page=community_feedback&feedback_type=idea" class="btn btn-sm btn-default" title="Nueva idea">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs"> &nbsp; Nueva idea</span>
         </a>
      </div>
      <div class="col-sm-8 col-xs-8 text-right">
         <h2 style="margin-top: 0px;">Ideas</h2>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th class="text-left">Autor</th>
            <th class="text-left">Mensaje</th>
            <th class="text-right">
               <span class="glyphicon glyphicon-comment" aria-hidden="true" title="Número de comentarios"></span>
            </th>
            <th class="text-right" width="120">Cambios</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
         {if="!$value->ocultar_publico($fsc->rid)"}
         <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
            <td>
               {if="$value->privado"}
               <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
               {/if}
               {if="$value->destacado"}
               <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
               {/if}
               {if="$value->estado=='cerrado'"}
               <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
               {/if}
            </td>
            <td>{$value->email()}</td>
            <td>
               {$value->texto}
               {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
            </td>
            <td class="text-right">{$value->num_comentarios}</td>
            <td class="text-right">
               <a href="{$value->url()}">{$value->timesince()}</a>
            </td>
         </tr>
         {/if}
      {else}
      <tr class="bg-warning">
         <td colspan="5">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
   <div class="container">
      <p class="navbar-text">
         ¿Necesitas cambios rápidamente? ¿Quieres apoyar el proyecto? Compra 1 hora de desarrollo.
         <a href="https://www.facturascripts.com/store/producto/1h-de-desarrollo/" target="_blank" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            &nbsp; 1h de desarrollo
         </a>
      </p>
   </div>
</nav>

{include="public/footer"}