{include="public/header"}

{if="!$fsc->item"}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="nooooo"/>
</div>
{elseif="$fsc->item->ocultar_publico($fsc->rid)"}
<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <br/>
         <div class="alert alert-danger">
            <span class="glyphicon glyphicon-lock"></span> &nbsp;
            No tienes permiso para ver el contenido de esta página, es privado.
         </div>
         <div class="page-header">
            <h2>Ayuda</h2>
         </div>
         <p class="help-block">
            Si eres el autor, lo que ha sucedido es que estás accediendo desde
            un PC, tablet o smartphone distinto al que utilizaste para enviar este
            mensaje privado. Para solucionarlo entra en la sección
            <a href="{function="comm3_url('index.php?page=community_colabora')"}">colabora</a>,
            introduce tu email y recibirás un enlace para poder entrar.
         </p>
      </div>
   </div>
</div>
{else}
<div class="container">
   <div class="row" style="margin-top: 15px; margin-bottom: 10px;">
      <div class="col-xs-6">
         <a class="btn btn-sm btn-default" href="{$fsc->item->url()}" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <div class="btn-group">
            <a class="btn btn-sm btn-default" href="index.php?page=community_all">
               <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Todo
            </a>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="caret"></span>
               <span class="sr-only">Más</span>
            </button>
            <ul class="dropdown-menu">
               <li>
                  <a class="bg-danger" href="index.php?page=community_errors">
                     <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Errores
                  </a>
               </li>
               <li>
                  <a class="bg-success" href="index.php?page=community_ideas">
                     <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Ideas
                  </a>
               </li>
               <li>
                  <a class="bg-warning" href="index.php?page=community_questions">
                     <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Preguntas
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-xs-6 text-right">
         <h3 style="margin-top: 0px;">
            {if="$fsc->item->privado"}
            <span class="glyphicon glyphicon-eye-close" title="Privado"></span> &nbsp;
            {/if}
            {$fsc->item->tipo()}
         </h3>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12">
         <div class="{$fsc->item->bootstrap_class()}" style="padding: 10px; margin-bottom: 10px;">
            <span class="pull-right">{$fsc->item->creado()}</span>
            <span class="glyphicon glyphicon-user"></span> &nbsp; {$fsc->item->email()}
            <hr/>
            <p>{$fsc->bbcode2html($fsc->item->texto)}</p>
         </div>
         {if="$fsc->item->tags"}
         <div style="margin-bottom: 10px;">
            {loop="$fsc->item_tags()"}
            <a href="index.php?page=community_search&tag={$value}" class="label label-default">{$value}</a> &nbsp;
            {/loop}
         </div>
         {/if}
      </div>
   </div>
   {loop="$fsc->comments"}
      {if="!$value->privado"}
      <div class="row">
         <div class="col-sm-12">
            <div class="well well-sm">
               <span class="pull-right">{$value->timesince()}</span>
               <span class="glyphicon glyphicon-user"></span> &nbsp; {$value->email()}
               {if="$value->perfil"}
               &nbsp; <span class="label label-default">{$value->perfil}</span>
               {/if}
               <hr/>
               <p>{$fsc->bbcode2html($value->texto)}</p>
            </div>
         </div>
      </div>
      {/if}
   {/loop}
   {if="$fsc->item->estado=='cerrado'"}
   <div class="row">
      <div class="col-sm-12">
         <div class="alert alert-info">No se pueden hacer más comentarios.</div>
      </div>
   </div>
   {else}
   
   {if="$fsc->item->rid==$fsc->rid"}
   <div class="row" style="margin-bottom: 10px;">
      <div class="col-sm-12">
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#nuevo_com" aria-controls="nuevo_com" role="tab" data-toggle="tab">
                  Nuevo comentario
               </a>
            </li>
            <li role="presentation">
               <a href="#tus_prioridades" aria-controls="tus_prioridades" role="tab" data-toggle="tab">
                  Tus prioridades
               </a>
            </li>
         </ul>
      </div>
   </div>
   {/if}
   
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="nuevo_com">
         <form action="{$fsc->item->url()}" method="post" class="form">
            <input type="hidden" name="petid" value="{$fsc->random_string()}"/>
            <div class="row">
               <div class="col-sm-12">
                  <div class="form-group">
                     <textarea class="form-control" name="comentario" rows="6" placeholder="Nuevo comentario">{$fsc->comment_text}</textarea>
                     <p class="help-block">
                        <a target="_blank" href="http://www.imgur.com">¿Quieres añadir una imagen?</a>
                        Puedes usar <a href="http://es.wikipedia.org/wiki/BBCode#Hiperv.C3.ADnculos" target="_blank">bbcode</a>.
                     </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6">
                  <div class="form-group">
                     {if="$fsc->visitante"}
                     <input name="email" type="text" value="{$fsc->visitante->email}" class="form-control" placeholder="Tu email" disabled="disabled"/>
                     {else}
                     <input name="email" type="text" value="{$fsc->comment_email}" class="form-control" placeholder="Tu email"/>
                     {/if}
                  </div>
               </div>
               <div class="col-sm-6">
                  {if="$fsc->visitante"}
                  <input type="hidden" name="comment_human"/>
                  <div class="text-right" style="margin-bottom: 10px;">
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
                     </button>
                  </div>
                  {else}
                  <div class="form-group">
                     <div class="input-group">
                        <input class="form-control" type="text" name="comment_human" value="{function="mt_rand(0,9999)"}" autocomplete="off"/>
                        <span class="input-group-btn">
                           <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                              <span class="glyphicon glyphicon-comment"></span> &nbsp; Enviar
                           </button>
                        </span>
                     </div>
                     <p class="help-block"><b>Borra el número</b> para demostrar que eres humano.</p>
                  </div>
                  {/if}
               </div>
            </div>
         </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="tus_prioridades">
         <div class="row">
            <div class="col-sm-12">
               <p>
                  Si lo deseas, puedes modificar las prioridades de tus peticiones
                  en el plan de desarrollo.
               </p>
               <a href="index.php?page=community_plan" class="btn btn-sm btn-default">
                  <span class="glyphicon glyphicon-blackboard"></span>
                  &nbsp; Plan de desarrollo
               </a>
            </div>
         </div>
      </div>
      {/if}
   </div>
</div>
{/if}

{include="public/footer"}