{include="public/header"}

{if="$fsc->item"}
<div class="container-fluid" style="margin-top: 15px;">
   <div class="row">
      <div class="col-sm-6">
         <a class="btn btn-sm btn-default" href="{$fsc->item->url()}" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
      </div>
      <div class="col-sm-6 text-right">
         <h2 style="margin-top: 0px;">{$fsc->item->tipo()}</h2>
      </div>
   </div>
</div>

<div class="container-fluid" style="margin-top: 15px;">
   <!-- Consulta del usuario -->
   <div class="panel panel-warning">
     <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span>
        <span title="">&nbsp; {$fsc->item->email()}</span>
        <span class="pull-right hidden-xs small">Creado hace ....</span>
     </div>
     <div class="panel-body">
       {$fsc->bbcode2html($fsc->item->texto)}
     </div>
   </div>

   <!-- Respuestas al usuario -->
   {loop="$fsc->comments"}
   <div class="panel panel-info">
     <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span>
        <span title="">&nbsp; {$value->email}</span>
        <span class="pull-right hidden-xs small">Creado hace ....</span>
     </div>
     <div class="panel-body">
       {$fsc->bbcode2html($value->texto)}
     </div>
   </div>
   {/loop}
   
   <!-- Formulario para responder -->
   <div id="panel_new_comment" class="panel panel-primary">
      <div class="panel-heading">
         Nuevo comentario:
      </div>
      <div class="panel-body">
         <form name="f_new_comment" class="form" action="{$fsc->url()}&id={$fsc->item->id}" method="post">

            <input name="iditem" type="hidden" class="form-control" value="{$fsc->item->id}"/>
            
            <textarea class="form-control" name="texto" rows="6" placeholder="Nuevo comentario"></textarea>
            <span class="help-block">
               <a rel="nofollow" target="_blank" href="http://www.imgur.com">¿Quieres añadir una imagen?</a>
               Puedes usar <a href="http://es.wikipedia.org/wiki/BBCode#Hiperv.C3.ADnculos" target="_blank">bbcode</a>.
            </span>

            <input name="email" type="text" class="form-control" placeholder="Introduce tu email" value=""/>
            <div class="small" style="margin-top: 10px; text-align: right;">
               <div class="input-group">
                  <input class="form-control" type="text" name="comment_human" value="{function="mt_rand(0,9999)"}" autocomplete="off"/>
                  <span class="input-group-btn">
                     <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-comment"></span> &nbsp; Enviar
                     </button>
                  </span>
               </div>
               <p class="help-block"><b>Borra el número</b> para demostrar que eres humano.</p>
            </div>

         </form>
      </div>
   </div>

</div>
{/if}

{include="public/footer"}