{include="public/header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-folder-open"></span>
               &nbsp; Catálogo de plugins
            </h1>
            <p class="help-block">
               Estos son los plugins que puedes instalar a golpe de clic en FacturaScripts.
               Los tienes disponibles en Admin &gt; Panel de control &gt; Descargas
            </p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-2">
         <a href="#" class="btn btn-xs btn-success" data-toggle="modal" data-target="#modal_nuevo_plugin">
            <span class="glyphicon glyphicon-plus"></span> &nbsp; Añade tu plugin
         </a>
      </div>
      <div class="col-sm-8">
         <p class="help-block">
            Si quieres crear tus propios plugins, consulta la
            <a href="{function="comm3_url('index.php?page=community_docs')"}">sección documentación</a>,
            y estarás creando tus propios plugins en minutos.
         </p>
      </div>
      <div class="col-sm-2 text-right">
         <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
               <li>
                  <a href="{$fsc->url()}&order=0">
                     <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                     &nbsp; Fecha &nbsp;
                     {if="$fsc->order=='ultima_modificacion DESC'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                  </a>
               </li>
               <li>
                  <a href="{$fsc->url()}&order=1">
                     <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                     &nbsp; Nombre &nbsp;
                     {if="$fsc->order=='lower(nombre) ASC'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                  </a>
               </li>
               <li>
                  <a href="{$fsc->url()}&order=2">
                     <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                     &nbsp; Descargas &nbsp;
                     {if="$fsc->order=='descargas DESC'"}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{/if}
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/>
      </div>
   </div>
   {loop="$fsc->lista_plugins"}
   <div class="well well-sm">
      {if="$value->zip_link"}
      <div class="row">
         <div class="col-sm-9">
            <h3 style="margin-top: 0px;">
               {$value->nombre}
               <small>
                  <span class="label label-default">Gratis</span>
                  {if="!$value->estable"}
                  <span class="label label-danger">En desarrollo</span>
                  {/if}
               </small>
            </h3>
            <p class="help-block">{$value->descripcion_html()}</p>
            <hr/>
            <small>
               Versión: {$value->version} &nbsp;
               Autor: {$value->nick} &nbsp;
               <span class="glyphicon glyphicon-calendar"></span> {$value->ultima_modificacion}
               {if="$value->zip_link"}
               &nbsp; <a href="{$value->link}" target="_blank">Código fuente</a>.
               {/if}
            </small>
         </div>
         <div class="col-sm-3">
            {if="$value->imagen"}
            <a href="{$value->imagen}" class="thumbnail">
               <img src="{$value->imagen}" alt="{$value->nombre}"/>
            </a>
            {/if}
         </div>
      </div>
      {else}
      <div class="row">
         <div class="col-sm-9">
            <h3 style="margin-top: 0px;">
               <a href="{$value->link}" target="_blank">
                  {$value->nombre}
                  <small>
                     <span class="glyphicon glyphicon-shopping-cart"></span>
                  </small>
               </a>
            </h3>
            <p class="help-block">
               {$value->descripcion_html()}
            </p>
            <hr/>
            <small>
               Versión: {$value->version} &nbsp;
               Autor: {$value->nick} &nbsp;
               <span class="glyphicon glyphicon-calendar"></span> {$value->ultima_modificacion}
            </small>
         </div>
         <div class="col-sm-3">
            {if="$value->imagen"}
            <a href="{$value->link}" target="_blank" class="thumbnail">
               <img src="{$value->imagen}" alt="{$value->nombre}"/>
            </a>
            {/if}
         </div>
      </div>
      {/if}
   </div>
   {/loop}
</div>

<div class="modal fade" id="modal_nuevo_plugin" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Añadir plugin</h4>
         </div>
         <div class="modal-body">
            <p>
               Si quieres añadir un plugin gratuito o de pago, usa la página de
               contacto. Explícanos qué hace el plugin y cómo quieres distribuirlo
               y te contestaremos lo antes posible.
            </p>
         </div>
         <div class="modal-footer">
            <a href="{function="comm3_path()"}index.php?page=community_feedback&amp;feedback_privado=TRUE" class="btn btn-sm btn-primary">
               <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp; Contacto
            </a>
         </div>
      </div>
   </div>
</div>

{include="public/footer"}