{include="public/header"}

<div class="container">
   <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-lg-5 col-md-5">
         <div class="thumbnail">
            <img src="plugins/community3/view/img/responsive.png" alt="responsive"/>
         </div>
      </div>
      <div class="col-lg-7 col-md-7">
         <h2>Facturación y contabilidad web:</h2>
         <ul>
            <li>
               <b>Fácil:</b> formularios sencillos con las opciones imprescindibles.
            </li>
            <li>
               <b>Web:</b> accede desde cualquier sitio, con cualquier dispositivo y a cualquier hora.
            </li>
            <li>
               <b>Código abierto:</b> desarrollo colaborativo, seguro, máxima personalización.
            </li>
            <li>
               <b>Actualizaciones constantes:</b> desarrollo constante con actualizaciones mensuales.
            </li>
         </ul>
         <br/>
         <div class="btn-group">
            <a href="#" target="_blank" class="btn btn-primary btn-lg">Demo online</a>
            <a href="index.php?page=community_download" class="btn btn-default btn-lg">Descargar</a>
         </div>
      </div>
   </div>
</div>

<div role="tabpanel">
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; Usuarios
         </a>
      </li>
      <li role="presentation">
         <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span> &nbsp; Programadores
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-4">
                  <h3>Lo básico:</h3>
                  <p>
                     FacturaScripts incorpora de serie la <b>gestión integral de compras y ventas</b>,
                     gestión de almacenes y <b>contabilidad integrada</b>. Lo básico para cualquier empresa.
                  </p>
                  <h3>Actualizaciones:</h3>
                  <p>
                     Lanzamos actualizaciones con mejoras continuamente, y gracias al actualizador integrado,
                     puedes instalarlas en segundos y cuando tú quieras.
                  </p>
               </div>
               <div class="col-md-5">
                  <h3>Plugins</h3>
                  <p>
                     El potente sistema de plugins de FacturaScripts no sólo permite añadir <b>nuevas funciones</b>,
                     sino que también permite <b>modificar el comportamiento</b> de las funciones ya existentes.
                  </p>
                  <p>
                     Comprueba los plugins en descarga directa como el de <b>servicio de atención técnica</b> (SAT).
                     Y si necesitas más, echa un vistazo a nuestra tienda de plugins.
                  </p>
                  <a href="https://www.facturascripts.com/store" target="_blank" class="btn btn-info">
                     <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> &nbsp; Tienda de plugins
                  </a>
               </div>
               <div class="col-md-3">
                  <h3>¿Buscas servicio profesional?</h3>
                  <p>Si necesitas ayuda profesional, contacta con nosotros.</p>
                  <a href="mailto:carlos.garcia.gmz@gmail.com" class="btn btn-sm btn-default">
                     <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp; contacto
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6">
                  <h3>Arquitectura:</h3>
                  <p>
                     FacturaScripts es un framework MVC escrito en <b>PHP</b> 5.3.
                     Puede conectar tanto a <b>MySQL</b> como a <b>PostgreSQL</b>.
                     La capa gráfica esta contruida sobre <b>bootstrap</b> para adaptarse a
                     PC, tablet y móvil. Y su sistema de plugins permite modificar el
                     comprotamiento de cualquier clase.
                  </p>
               </div>
               <div class="col-md-6">
                  <h3>Ayuda y comunidad:</h3>
                  <p>
                     Para modificar FacturaScripts tan sólo necesitas unos <b>conociemientos básicos de PHP</b>,
                     seguir nuestor curso en <a href="//www.youtube.com/watch?v=bQVqo0YXo4w">YOUTUBE</a>, y si tienes dudas,
                     escribirlas en la <a href="index.php?page=community_questions">sección preguntas</a> ;-)
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{include="public/footer"}