{include="public/header"}

<div class="container">
   {if="$fsc->visitante"}
      {if="$fsc->visitante->nick"}
      <div class="row">
         <div class="col-sm-12">
            <div class="alert alert-info">
               Ve a la sección <b>Colabora</b> para entrar en la parte privada.
            </div>
         </div>
      </div>
      {else}
      <div class="row">
         <div class="col-sm-12">
            <div class="alert alert-info">
               <b>¡Hola {$fsc->visitante->perfil}!</b> Ve a la sección <b>Colabora</b> para ver tus cosas.
            </div>
         </div>
      </div>
      {/if}
   {/if}
   <div class="row" style="margin-top: 20px;">
      <div class="col-sm-5">
         <div class="thumbnail">
            <img src="{function="comm3_path()"}plugins/community3/view/img/responsive.jpg" alt="responsive"/>
         </div>
      </div>
      <div class="col-sm-7">
         <h1>Programa de facturación gratis</h1>
         <ul>
            <li><b>Facturación y contabilidad</b> en un mismo software.</li>
            <li>Formularios sencillos con las opciones imprescindibles.</li>
            <li>Accede desde cualquier sitio y con cualquier PC, tablet o smartphone.</li>
            <li><b>Software libre</b>: desarrollo colaborativo, seguro, máxima personalización.</li>
            <li>Actualizaciones constantes.</li>
         </ul>
         <div class="btn-group">
            <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_demo">
               Demo online
            </a>
            <a href="{function="comm3_url('index.php?page=community_download')"}" class="btn btn-default btn-lg">
               <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; Descargar</span>
            </a>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/>
      </div>
   </div>
   {if="$fsc->anuncio"}
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-info">
            <div class="panel-heading">
               <h3 class="panel-title">Anuncio</h3>
            </div>
            <div class="panel-body">{$fsc->anuncio}</div>
         </div>
      </div>
   </div>
   {/if}
   <div class="row">
      <div class="col-sm-12">
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Usuarios</span>
               </a>
            </li>
            <li role="presentation">
               <a href="#programadores" aria-controls="programadores" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Programadores</span>
               </a>
            </li>
            <li role="presentation">
               <a href="#partners" aria-controls="partners" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Distribuidores</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <div class="tab-content" style="margin-top: 15px;">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
         <div class="row">
            <div class="col-sm-12">
               <p class="text-justify">
                  Si lo que buscas es un <b>programa de facturación gratis</b>, lo que necesitas es
                  FacturaScripts, porque no solamente consigues un sencillo
                  <a href='{function="comm3_url('index.php?page=community_hacer_fac')"}'>programa para hacer facturas</a>,
                  sino que por el mismo precio (gratis) también obtienes un fantástico <b>programa de contabilidad</b>.
                  FacturaScripts aúna lo mejor de ambos mundos consiguiendo una herramienta realmente sencilla.
               </p>
               <p class="text-justify">
                  En Internet hay cientos de <b>programas de facturación gratis</b>, no tantos de
                  <a href='{function="comm3_url('index.php?page=community_contabilidad')"}'>contabilidad</a>,
                  pero ¿Cuántos de ellos resultan realmente sencillos?
                  Olvídate de esos tediosos <b>programas de facturación y contabilidad</b> donde tienes que configurar
                  cientos de opciones antes siquiera de empezar a trabajar. FacturaScripts se encarga de generar al
                  momento todo lo necesario para que tú te centres en tu negocio. Conforme haces los albaranes o
                  las facturas de compra, das de alta el proveedor y añades los productos al catálogo. En el mismo
                  proceso se calculan los precios de coste, también puedes asignar los precios de venta al
                  momento. Y lo mismo con los albaranes o facturas de venta.
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <div class="thumbnail">
                  <img src='{function="comm3_path()"}plugins/community3/view/img/mac.jpg' alt='preview'/>
               </div>
            </div>
            <div class="col-sm-6">
               <p class="text-justify">
                  Los <b>programas de facturación y contabilidad</b> pueden ahorrar mucho tiempo, pero solamente si
                  ambos procesos están bien integrados. Así es FacturaScripts. Conforme creas las facturas,
                  genera automáticamente la parte de contabilidad, las cuentas de clientes y proveedores, los
                  asientos, las regulaciones de IVA, etc... Todo lo que ofrece un buen <b>programa de contabilidad</b>,
                  pero de forma automatizada. Con tan sólo crear las facturas tendrás todos los asientos
                  relacionados, los desgloses del IVA, etc.
               </p>
               <p class="text-justify">
                  Si, hay docenas de <b>programas de contabilidad gratis</b> en Internet ¿Qué tiene de especial este?
                  Bien, con nuestro <b>programa de contabilidad</b> gratis Facturascripts, podría empezar hablando del
                  sistema de actualización integrado, de las actualizaciones semanales con correcciones y nuevas
                  características, totalmente gratis. Pero me voy a centrar en lo que creo más importante, el sistema
                  de plugins de FacturaScripts, que permite modificar completamente el comportamiento del
                  programa simplemente activando los plugins que necesites.
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <h2>
                  <a href='{function="comm3_url('index.php?page=community_plugins')"}'>
                     <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                     &nbsp; Amplio catálogo de plugins
                  </a>
               </h2>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-10">
               <p class="text-justify">
                  No hay dos empresas iguales. Las hay que trabajan de forma muy estricta su inventario, las hay
                  que no usan inventario, incluso las hay que trabajan como si fuesen varias marcas. Como cada
                  empresa es un mundo, el poder disponer de plugins que adapten el programa a tus necesidades
                  es algo fundamental hoy en día.
               </p>
               <p class="text-justify">
                  Los plugin son una parte muy importante de FacturaScripts, y los hay de todo tipo, desde los que
                  permiten programar albaranes, para repetirlos cada semana, mes, trimestre, etc. Hasta los que
                  permiten integrar plataformas de tienda online (ecommerce) como
                  <a href="https://www.facturascripts.com/store/producto/prestashop/">PrestaShop</a> o
                  <a href="https://www.facturascripts.com/store/producto/plugin-woocommerce/">Woocommerce</a>.
               </p>
               <p class="text-justify">
                  El ecommerce se ha convertido en una piedra angular de las PYMES, y gracias a los plugins de
                  <a href="https://www.facturascripts.com/store/producto/plugin-woocommerce/">Woocommerce</a> y
                  <a href="https://www.facturascripts.com/store/producto/prestashop/">PrestaShop</a>,
                  podemos integrarlo en FacturaScripts. Podrás ver al momento los
                  pedidos que entran, el cliente asociado, etc. Todo desde el mismo programa. Sin olvidar que al ser
                  también un <b>programa de contabilidad</b>, realizará automáticamente todos los asientos contables que
                  le asignes.
               </p>
               <p class="text-justify">
                  Y no solamente hablamos de un gran programa de facturación y contabilidad, hablamos de un
                  <b>programa de facturación gratis</b>, y un <b>programa de contabilidad</b> grátis en el mismo paquete, que
                  además es muy fácil traer tus datos de otros programas. Si usas Eneboo, es tan fácil como
                  conectar a la misma base de datos y seguir trabajando con FacturaScripts. Si usas otros
                  programas como FactuSol, puedes importar tus datos fácilmente con el plugin
                  <a href="https://www.facturascripts.com/store/producto/plugin-importarexportar-csv/" target="_blank">import_export_csv</a>.
               </p>
               <p class="text-justify">
                  Y por último hay que hablar del futuro. No solamente es importante tener un buen programa de
                  facturación y contabilidad hoy, también es importante que evolucione para que siga siendo bueno
                  mañana. Y en eso destaca la comunidad de FacturaScripts, donde puedes resolver tus dudas,
                  informar de errores y hacer sugerencias para nuevas versiones. Es sin duda un gran nexo de
                  unión entre los usuarios, partners y programadores, que impulsan a FacturaScripts hacia un futuro
                  prometedor.
               </p>
            </div>
            <div class="col-sm-2">
               <a href="https://www.facturascripts.com/store/producto/prestashop/" target="_blank" class="thumbnail">
                  <img src="{function="comm3_path()"}plugins/community3/view/img/prestashop.jpg" alt="prestashop"/>
               </a>
               <a href="https://www.facturascripts.com/store/producto/plugin-woocommerce/" target="_blank" class="thumbnail">
                  <img src="{function="comm3_path()"}plugins/community3/view/img/woocommerce.jpg" alt="woocommerce"/>
               </a>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th class="text-left">
                              <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                              &nbsp; Últimas noticias
                           </th>
                           <th class="text-right">
                              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                           </th>
                           <th class="text-right">Cambios</th>
                        </tr>
                     </thead>
                     {loop="$fsc->noticias()"}
                        {if="!$value->privado OR $value->rid==$fsc->rid"}
                        <tr class="{$value->bootstrap_class()}">
                           <td>
                              <a href="{$value->url(TRUE)}">{$value->resumen()}</a>
                              {if="$value->ultimo_comentario"}<br/>Último comentario: {$value->ultimo_comentario}{/if}
                           </td>
                           <td class="text-right">{$value->num_comentarios}</td>
                           <td class="text-right">{$value->timesince()}</td>
                        </tr>
                        {/if}
                     {else}
                     <tr class="warning">
                        <td colspan="5">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <h3>¿Buscas servicio profesional?</h3>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-9">
               <p>
                  Si necesitas ayuda profesional, contacta con nosotros o con cualquiera
                  de nuestros partners.
               </p>
            </div>
            <div class="col-sm-3 text-right">
               <a href="{function="comm3_path()"}index.php?page=community_feedback&amp;feedback_partner=TRUE" class="btn btn-sm btn-info">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp; Contacto
               </a>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="programadores">
         <div class="row">
            <div class="col-sm-12">
               <p class="text-justify">
                  FacturaScripts es prácticamente un framework MVC escrito en PHP 5.3.
                  Puede conectar tanto a MySQL como a PostgreSQL.
                  La capa gráfica está construida sobre bootstrap para adaptarse a
                  PC, tablet y móvil. Y su sistema de plugins permite modificar el
                  comportamiento de cualquier clase.
               </p>
               <p class="text-justify">
                  Para modificar FacturaScripts tan sólo necesitas unos conocimientos básicos de PHP,
                  seguir nuestro curso de programación en vídeo, y si tienes dudas,
                  escribirlas en la <a href='{function="comm3_url('index.php?page=community_questions')"}'>sección preguntas</a>.
                  En unas horas estarás creando tus propios plugins ;-)
               </p>
               <a href='{function="comm3_url('index.php?page=community_docs')"}' class='btn btn-info'>
                  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                  &nbsp; Documentación
               </a>
               <h3>Diferencias con otros frameworks</h3>
               <p class="text-justify">
                  Hay un montón de frameworks realmente buenos, pero si el software
                  que quieres desarrollar está relacionado con la gestión de una empresa,
                  FacturaScripts es lo que buscas. Él se encarga de la gestión de login,
                  genera las tablas de la base de datos al vuelo, comprueba las mismas
                  y ademas ya tienes programado todo lo necesario para la gestión básica
                  de una empresa: gestión de compras, ventas, inventario, contabilidad...
                  Se acabó programar estas partes desde cero. Tú solamente tienes que
                  dedicarte a modificar el comportamiento y/o las interfaces para dejarlo
                  a tu gusto.
               </p>
               <h3>Novedades</h3>
               <p class="text-justify">
                  Si lo que quieres es seguir el desarrollo del proyecto día a día, puedes hacerlo a través
                  de la cuenta de twitter de nuestro desarrollador principal
                  <a href="https://twitter.com/neorazorx" target="_blank">@neorazorx</a>
                  o de su <a href="https://www.youtube.com/user/NeoRazorX" target="_blank">canal en youtube</a>.
                  Organizamos videoconferencia públicas todas las semanas. Apúntate y
                  podrás hablar directamente con los programadores principales.
                  Sabrás de primera mano lo que se desarrolla cada semana.
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <a href="https://twitter.com/neorazorx" target="_blank" class="btn btn-info">
                  @neorazorx
               </a>
               <a href="https://www.youtube.com/user/NeoRazorX" target="_blank" class="btn btn-danger">
                  <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                  &nbsp; Youtube
               </a>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <h3>Colabora</h3>
               <p>
                  Te lo ponemos fácil para colaborar con el proyecto, entra en la sección
                  <a href='{function="comm3_url('index.php?page=community_colabora')"}'>colabora</a>
                  y apúntate como programador sin compromiso, consulta las tareas pendientes
                  y empieza por cualquiera de ellas. Y si tienes dudas...
                  <a href='{function="comm3_url('index.php?page=community_questions')"}'>Pregunta</a> ;-)
               </p>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="partners">
         <div class="row">
            <div class="col-sm-12">
               <p class="text-justify">
                  FacturaScripts es software libre y puedes distribuirlo gratuitamente.
                  Pero si lo que buscas es soporte profesional, aquí tienes la lista de partners:
               </p>
            </div>
         </div>
         <div class="row">
            {loop="$fsc->partners()"}
            <div class="col-sm-6">
               <blockquote class="bg-success">
                  <h4>
                     <span class="glyphicon glyphicon-bookmark"></span>
                     <a href="{$value->link}" target="_blank">{$value->nombrecomercial}</a>
                  </h4>
                  <p class="help-block">{$value->descripcion()}</p>
               </blockquote>
            </div>
            {/loop}
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">¿Quieres ser partner?</h3>
                  </div>
                  <div class="panel-body">
                     Como partner de FacturaScripts disfrutarás de las siguientes ventajas:
                     <ul>
                        <li>
                           Acceso a la parte privada de la comunidad: gestiona
                           las incidencias de tus clientes con el software
                           directamente desde aquí.
                        </li>
                        <li>
                           Soporte preferente: tus incidencias, dudas o sugerencias
                           se atienden antes que las del resto.
                        </li>
                        <li>
                           Podrás añadir plugins a la comunidad, ya sean gratuitos,
                           de pago o privados. Y te beneficiarás del sistema de
                           actualización de plugins de pago/privados.
                        </li>
                        <li>
                           Acceso a plugins específicos como <b>eneboo-fix</b>,
                           para facilitar las migraciones de Eneboo a FacturaScripts,
                           o <b>prestashop_multi</b>, que permite importar los
                           pedidos de varias tiendas PrestaShop a FacturaScripts.
                           (Hay que comprarlos, pero solamente se venden a partners).
                        </li>
                        <li>
                           Tendrás acceso a una cartera de programadores con experiencia
                           en FacturaScripts.
                        </li>
                     </ul>
                     <a href="{function="comm3_path()"}index.php?page=community_feedback&amp;feedback_partner=TRUE" class="btn btn-sm btn-info">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp; Contacto
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_demo" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Demos disponibles</h4>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-xs-4">
                  <a href="https://www.zapahosting.com/link.php?id=1" target="_blank" class="btn btn-block btn-lg btn-default">
                     Demo privada
                  </a>
                  <br/>
               </div>
               <div class="col-xs-8">
                  <p class="help-block">
                     <a href="https://www.zapahosting.com/link.php?id=1" target="_blank">ZapaHosting</a>
                     ofrece probar FacturaScripts totalmente gratis durante <b>30 días</b>,
                     es la mejor forma de que pruebes el sistema con tus propios datos.
                  </p>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-4">
                  <a href="//www.facturascripts.com/demo" target="_blank" class="btn btn-block btn-lg btn-default">
                     Demo pública
                  </a>
               </div>
               <div class="col-xs-8">
                  <p class="help-block">
                     Si sólo quieres echar un vistazo, simplemente entra en la demo
                     pública, ya hay un montón de datos y puedes ver rápido como funciona.
                     Eso si, ten encuenta que hay un montón de usuarios haciendo pruebas.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{include="public/footer"}