{include="public/header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               FacturaScripts + PrestaShop = <i class="fa fa-heart"></i>
            </h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <p class="text-justify">
            PrestaShop es uno de los ecommerce más utilizados hoy en día, sobre
            todo en España. Pero PrestaShop solamente se encarga de la venta online,
            quedando cojo en el resto de áreas de un negocio.
            Si lo conectas con FacturaScripts, lo que tienes es un sistema completo,
            para <b>gestionar cómodamente tanto tu negocio online como el local</b>.
         </p>
         <br/>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         <h3><i class="fa fa-cogs"></i> Integrado</h3>
         <p class="help-block">
            Consulta todos los pedidos de PrestaShop sin salir de FacturaScripts.
            Aprueba los pedidos y generar las facturas. Uno a uno o de forma masiva,
            seleccionando el estado y la fecha de inicio.
         </p>
         <br/>
         <h3><i class="fa fa-check-square-o"></i> Preparado</h3>
         <p class="help-block">
            ¿Ya tienes una tienda PrestaShop funcionando? Copia a FacturaScripts
            todos los artículos, categorías, etiquetas y fabricantes con un solo clic.
         </p>
      </div>
      <div class="col-sm-4">
         <div class="thumbnail">
            <img src='http://i.imgur.com/12DiP0B.png' alt='FacturaScripts + PrestaShop'/>
         </div>
         <h3><i class="fa fa-eye"></i> Demo:</h3>
         <p class="text-justify">
            Para que puedas probar su funcionamiento, disponemos de una tienda de prueba
            y una demo de FacturaScripts conectada a esa tienda.
         </p>
         <a href="http://demo.facturascripts.com" target="_blank" class="btn btn-sm btn-primary">Demo</a>
         <a href="http://demo.tiendasprestashop.es" target="_blank" class="btn btn-sm btn-primary">Tienda PrestaShop conectada</a>
         <br/>
         <br/>
         <br/>
      </div>
      <div class="col-sm-4">
         <h3><i class="fa fa-line-chart"></i> Potente</h3>
         <p class="help-block">
            Separar las ventas en una serie contable distinta y en un almacén distinto, si lo deseas.
         </p>
         <p class="help-block">
            Sincroniza con PrestaShop solamente los artículos que tú quieras.
         </p>
         <p class="help-block">
            Relacionar las formas de pago de PrestaShop con las de FacturaScripts para que,
            por ejemplo, las facturas de pedidos con paypal se marquen automáticmanete como
            pagadas, sin necesidad de andar revisando.
         </p>
         <br/>
         <h3><i class="fa fa-commenting"></i> Además...</h3>
         <p class='help-block'>
            La conexión a PrestaShop se realiza mediante la API, así que no es necesario que FacturaScripts
            esté en el mismo servidor que PrestaShop, puedes tenerlo instalado en la oficina o en tu propio PC.
         </p>
      </div>
   </div>
   <div class="row bg-info">
      <div class="col-sm-6">
         <h3>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            &nbsp; Cada negocio es un mundo...
         </h3>
         <p class="text-justify">
            Por desgracia nos encontramos con muchos clientes con instalaciones PrestaShop
            en condiciones lamentables, condiciones que dificultan conectar con FacturaScripts
            o con cualquier otro software. Por ese motivo hemos decidido que el plugin
            <b>solamente se puede vender con soporte de instalación</b>.
         </p>
         <ul>
            <li>Revisamos tu instalación PrestaShop.</li>
            <li>Instalamos el plugin y dejamos funcionando la sincronización.</li>
         </ul>
      </div>
      <div class="col-sm-6">
         <h3>¿No tienes PrestaShop?</h3>
         <p class="text-justify">
            Contamos con profesionales con años de experiencia en PrestaShop.
            Ofrecemos instalaciones PrestaShop perfectamente configuradas y sincronizadas
            con FacturaScripts. Solicita presupuesto sin compromiso.
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <br/>
         <a href="https://www.facturascripts.com/store/producto/prestashop/" target="_blank" class="btn btn-primary">
            <i class="fa fa-shopping-cart"></i> Sincronizar con 1 tienda PrestaShop
         </a>
         <p class="help-block">Desde 299€</p>
      </div>
      <div class="col-sm-6 text-right">
         <br/>
         <a href="{function="comm3_url('index.php?page=community_feedback&amp;feedback_partner=TRUE')"}" class="btn btn-primary">
            <i class="fa fa-phone"></i> Solcitar presupuesto
         </a>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/><hr/><br/>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <div class="thumbnail">
            <img src='https://i.imgur.com/rPqEInI.png' alt='iecsv'/>
         </div>
      </div>
      <div class="col-sm-9">
         <h3>Combina con articulos_megamod</h3>
         <p class="text-justify">
            Con el <a href="https://www.facturascripts.com/store/producto/plugin-articulos_megamod/" target="_blank">plugin articulos_megamod</a>
            podrás hacer modificaciones masivas a los artículos de tu catálogo:
         </p>
         <ul>
            <li>Aumentar, reducir el precio de venta.</li>
            <li>Recalcular el precio de venta a partir del precio de coste y un márgen determinado.</li>
            <li>Añadir o quitar categorías.</li>
            <li>Modificar el stock...</li>
            <li>Y un largo etcétera.</li>
         </ul>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/><hr/><br/>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <div class="thumbnail">
            <img src='https://i.imgur.com/6IAgesc.jpg' alt='iecsv'/>
         </div>
      </div>
      <div class="col-sm-9">
         <h3>Combina con import_export_csv</h3>
         <p class="text-justify">
            Con el plugin
            <a href="https://www.facturascripts.com/store/producto/plugin-importarexportar-csv/" target="_blank">
               import/export csv
            </a>
            podrás importar o actualizar tu catálogo rápidamente y el plugin PrestaShop
            se encargará de publicar todos los artículos.
         </p>
         <p class="text-justify">
            Despliega rápidamente tu catálogo o el de tus proveedores sacándole el máximo
            partido a los plugins.
         </p>
      </div>
   </div>
</div>

{include="public/footer"}