{include="public/header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <i class="fa fa-gift"></i>
               Promociones FacturaScripts
            </h1>
         </div>
         <p class="help-block">
            Hemos trabajado en un <b>nuevo diseño</b> para dar un aspecto más moderno
            a FacturaScripts, con un nuevo menú lateral, buscador integrado,
            más visibilidad del usuario, más y mejores iconos y un largo etcétera.
            Este es el resultado.
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         <a href="http://imgur.com/5XRa2Cm" target="_blank" class="thumbnail">
            <img src="http://i.imgur.com/5XRa2Cm.png?1" alt="FacturaScripts dashboard"/>
         </a>
         <p class="help-block">
            El <b>nuevo menú lateral</b> permite ver rápidamente todas las opciones.
         </p>
      </div>
      <div class="col-sm-4">
         <a href="http://imgur.com/GikxyE9" target="_blank" class="thumbnail">
            <img src="http://i.imgur.com/GikxyE9.png" alt="FacturaScripts"/>
         </a>
         <p class="help-block">
            El <b>buscador integrado de artículos</b> te permite ahorrar clics.
            Busca artículos desde cualquier página.
         </p>
      </div>
      <div class="col-sm-4">
         <a href="http://imgur.com/1du5Vzm" target="_blank" class="thumbnail">
            <img src="http://i.imgur.com/1du5Vzm.png?1" alt="FacturaScripts"/>
         </a>
         <p class="help-block">
            El <b>nuevo set de iconos</b> permite distinguir rápidamente las opciones
            dentro del menú.
         </p>
      </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-sm-12 text-center">
         <br/>
         <br/>
         <i class="fa fa-heart"></i>
         <h2>¿Te gusta?</h2>
         <p class="help-block">
            Pues todo lo que tienes que hacer para conseguir este nuevo diseño
            es compartir esta web en redes sociales.<br/>
            Pasadas unas horas se te enviará un enlace.<br/>
            Todos ganamos ;-)
         </p>
         <br/>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.facturascripts.com" data-text="FacturaScripts + PrestaShop = la combinación perfecta" data-via="neorazorx" data-size="large">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="col-sm-4">
         <script src="https://apis.google.com/js/platform.js" async defer>{lang: 'es'}</script>
         <div class="g-plusone" data-annotation="inline" data-width="300" data-href="https://www.facturascripts.com"></div>
      </div>
      <div class="col-sm-4">
         <script>(function(d, s, id) {
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) return;
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3";
               fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
         </script>
         <div class="fb-like" data-href="https://www.facturascripts.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
   </div>
</div>

{include="public/footer"}