{include="public/header"}

<div class="container" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-4 col-xs-4">
         <a href="{function="comm3_path()"}index.php?page=community_feedback" class="btn btn-sm btn-success" title="Nueva pregunta">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs">&nbsp; Nueva pregunta</span>
         </a>
      </div>
      <div class="col-sm-8 col-xs-8 text-right">
         <h2 style="margin-top: 0px;">Preguntas</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <ul class="nav nav-tabs">
            <li role="presentation"{if="$fsc->mostrar=='todo'"} class="active"{/if}>
               <a href="{$fsc->url()}&mostrar=todo">
                  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Todas</span>
               </a>
            </li>
            {if="$fsc->visitante"}
            <li role="presentation"{if="$fsc->mostrar=='codpais'"} class="active"{/if}>
               <a href="{$fsc->url()}&mostrar=codpais">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; {$fsc->visitante->codpais}</span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th></th>
                     <th class="text-right">Autor</th>
                     <th class="text-left">Pais</th>
                     <th class="text-left">Mensaje</th>
                     <th class="text-right">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true" title="Número de comentarios"></span>
                     </th>
                     <th class="text-right" width="120">Cambios</th>
                  </tr>
               </thead>
               {loop="$fsc->resultados"}
                  {if="!$value->ocultar_publico($fsc->rid)"}
                  <tr class="clickableRow {$value->bootstrap_class()}" href="{function="comm3_path()"}{$value->url()}">
                     <td>
                        {if="$value->privado"}
                        <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                        {/if}
                        {if="$value->destacado"}
                        <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
                        {/if}
                        {if="$value->estado=='cerrado'"}
                        <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
                        {/if}
                     </td>
                     <td class="text-right">{$value->email()}</td>
                     <td>{$value->codpais}</td>
                     <td>
                        <a href="{function="comm3_path()"}{$value->url()}">{$value->resumen()}</a>
                        {if="$value->ultimo_comentario"}<br/>Último comentario: {$value->ultimo_comentario}{/if}
                     </td>
                     <td class="text-right">{$value->num_comentarios}</td>
                     <td class="text-right">{$value->timesince()}</td>
                  </tr>
                  {/if}
               {else}
               <tr class="bg-warning">
                  <td colspan="6">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
         <ul class="pager">
            {if="$fsc->anterior_url()!=''"}
            <li class="previous">
               <a href="{function="comm3_path()"}{$fsc->anterior_url()}">
                  <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
               </a>
            </li>
            {/if}
            {if="$fsc->siguiente_url()!=''"}
            <li class="next">
               <a href="{function="comm3_path()"}{$fsc->siguiente_url()}">
                  Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
   </div>
</div>

{include="public/footer"}