{include="public/header"}

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-4 col-xs-4">
         <a href="index.php?page=community_feedback" class="btn btn-sm btn-success" title="Nueva pregunta">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs">&nbsp; Nueva pregunta</span>
         </a>
      </div>
      <div class="col-sm-8 col-xs-8 text-right">
         <h2 style="margin-top: 0px;">Preguntas</h2>
      </div>
   </div>
</div>

<ul class="nav nav-tabs">
   <li role="presentation"{if="$fsc->mostrar=='info'"} class="active"{/if}>
      <a href="{$fsc->url()}&mostrar=info">
         <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Primeros pasos</span>
      </a>
   </li>
   <li role="presentation"{if="$fsc->mostrar=='todo'"} class="active"{/if}>
      <a href="{$fsc->url()}&mostrar=todo">
         <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Todo</span>
      </a>
   </li>
   {if="$fsc->visitante"}
   <li role="presentation"{if="$fsc->mostrar=='codpais'"} class="active"{/if}>
      <a href="{$fsc->url()}&mostrar=codpais">
         <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; {$fsc->visitante->codpais}</span>
      </a>
   </li>
   {/if}
</ul>

{if="$fsc->mostrar=='info'"}
<div class="container-fluid" style="margin-top: 15px;">
   <div class="row">
      <div class="col-sm-6">
         <div>
            <h3>Índice:</h3>
            <ul>
               <li>
                  <a href="#instalacion">Instalación.</a>
                  <ul>
                     <li><a href="index.php?page=community_item&id=370">Instalación sobre Linux.</a></li>
                  </ul>
               </li>
               <li><a href="#primerospasos">Primeros pasos.</a></li>
               <li><a href="#menuventas">El menú ventas.</a></li>
               <li><a href="#menucompras">El menú compras.</a></li>
            </ul>
         </div>
         <h3>Programación</h3>
         <p>
            Para modificar FacturaScripts tan sólo necesitas unos <b>conocimientos básicos de PHP</b>
            y seguir nuestro curso de programación en vídeo ;-)
         </p>
         <ul>
            <li>
               <a href="{function="comm3_path()"}index.php?page=community_item&tag=curso_2015">
                  Curso de programación FacturaScripts 2015.
               </a>
            </li>
            <li>
               <a href="https://www.facturascripts.com/demo/doc/">
                  Documentación de las principales clases de FacturaScripts.
               </a>
            </li>
            <li>
               <a href="https://github.com/rainphp/raintpl3/wiki/Documentation-for-web-designers">
                  Documentación de RainTPL, el motor de plantillas modificado que utilizamos en FacturaScripts para el HTML.
               </a>
            </li>
            <li>
               <a href="http://getbootstrap.com/components/">
                  Documentación de Bootstrap, el framework CSS que utilizamos.
               </a>
            </li>
         </ul>
         <br/>
         
         <h3>No te pierdas nada</h3>
         <p>
            Novedades, directos, preguntas y respuestas. Sigue a nuestro programador principal
            en twitter o youtube:
         </p>
         <a href="https://twitter.com/neorazorx" target="_blank" class="btn btn-info">
            @neorazorx
         </a>
         <a href="https://www.youtube.com/user/NeoRazorX" target="_blank" class="btn btn-danger">
            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
            &nbsp; Youtube
         </a>
      </div>
      <div class="col-sm-6">
         <a name="instalacion"></a>
         <h3>Instalación</h3>
         <p>
            Instalación de FacturaScripts en tu PC (también lo puedes instalar en un hosting).
            Y primeros pasos tras la instalación.
         </p>
         <div class="embed-responsive embed-responsive-16by9">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/-5J42fcuIso" frameborder="0" allowfullscreen></iframe>
         </div>
         <p>
            Para instalar FacturaScripts solamente necesitas un servidor web,
            PHP 5.3 o superior y MySQL o PostgreSQL. Si lo que buscas en un
            manual rápido para instalarlo en Linux,
            <a href="index.php?page=community_item&id=370">aquí lo tienes</a>.
         </p>
         <br/>
         
         <a name="primerospasos"></a>
         <h3>Primeros pasos</h3>
         <p>
            FacturaScripts genera al vuelo todo lo que va necesitando: almacenes,
            divisas, paises, series, formas de pago, impuestos, etc...
         </p>
         <p>
            Lo primero que debes hacer es ir a Admin &gt; Empresa e introducir los
            datos de tu empresa. Tu país, que pasará a seleccionarse por defecto,
            tu divisa (moneda), que será la que se use por defecto, la forma de pago,
            la serie, etc.
         </p>
         <p>
            En la sección facturación encontrará el checkbox <b>contabilidad integrada</b>,
            si lo marcas, lo que sucede es que FacturaScripts generará automáticamente
            los asientos correspondientes a las facturas tanto de compras como de ventas.
            Así la parte de contabilidad se genera automáticamente y tú ahorras horas
            y horas de trabajo.
         </p>
         <br/>
         
         <a name="menuventas"></a>
         <h3>El menú ventas</h3>
         <p>Creación de artículos, familias, tarifas, clientes, grupos de clientes, facturas y albaranes.</p>
         <div class="embed-responsive embed-responsive-16by9">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/B7o9pfF4NYA" frameborder="0" allowfullscreen></iframe>
         </div>
         <br/>
         
         <a name="menucompras"></a>
         <h3>El menú compras</h3>
         <p>Creación de proveedores, facturas y albaranes.</p>
         <div class="embed-responsive embed-responsive-16by9">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/PbmhKDzANkM" frameborder="0" allowfullscreen></iframe>
         </div>
      </div>
   </div>
</div>
{else}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th class="text-right">Autor</th>
            <th class="text-left">Pais</th>
            <th class="text-left">Mensaje</th>
            <th class="text-right">
               <span class="glyphicon glyphicon-comment" aria-hidden="true" title="Número de comentarios"></span>
            </th>
            <th class="text-right" width="120">Cambios</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
         {if="!$value->ocultar_publico($fsc->rid)"}
         <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
            <td>
               {if="$value->privado"}
               <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
               {/if}
               {if="$value->destacado"}
               <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
               {/if}
               {if="$value->estado=='cerrado'"}
               <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
               {/if}
            </td>
            <td class="text-right">{$value->email()}</td>
            <td>{$value->codpais}</td>
            <td>
               {$value->resumen()}
               {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
            </td>
            <td class="text-right">{$value->num_comentarios}</td>
            <td class="text-right">
               <a href="{$value->url()}">{$value->timesince()}</a>
            </td>
         </tr>
         {/if}
      {else}
      <tr class="bg-warning">
         <td colspan="6">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>
{/if}

<nav class="navbar navbar-inverse navbar-fixed-bottom hidden-xs">
   <div class="container">
      <p class="navbar-text">
         ¿Quieres apoyar el proyecto? Comparte esta web en redes sociales.
      </p>
      <div style="padding-top: 8px;">
         <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.facturascripts.com" data-text="El WordPress de la contabilidad y facturación" data-via="neorazorx" data-size="large" data-hashtags="facturascripts">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
   </div>
</nav>

{include="public/footer"}