{include="public/header"}

{if="$fsc->diario"}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   google.load("visualization", "1", {packages:["corechart","treemap"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['fecha', 'usuarios', 'descargas'],
          {loop="$fsc->diario_reverse()"}
          ['{$value['fecha']}', {$value['activos']}, {$value['descargas']}],
          {/loop}
      ]);
      
      var classicOptions = {
           height: 400,
           series: {
              0: {targetAxisIndex: 0},
              1: {targetAxisIndex: 1}
           },
           vAxes: {
              0: {title: 'Usuarios en la web'},
              1: {title: 'Descargas'}
           },
      };
      
      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, classicOptions);
      
      var data2 = google.visualization.arrayToDataTable([
          ['fecha', 'nuevos', 'total'],
          {loop="$fsc->diario_clientes_reverse()"}
          ['{$value['fecha']}', {$value['nuevos']}, {$value['suma']}],
          {/loop}
      ]);
      
      var classicOptions = {
           height: 400,
           series: {
              0: {targetAxisIndex: 0},
              1: {targetAxisIndex: 1}
           },
           vAxes: {
              0: {title: 'Nuevos visitantes'},
              1: {title: 'Total'}
           },
      };
      var chart2 = new google.visualization.LineChart(document.getElementById('chart_clientes'));
      chart2.draw(data2, classicOptions);
      
      var data3 = google.visualization.arrayToDataTable([
         ['Location', 'Parent', 'Clientes'],
         ['Global', null, 0],
         {loop="$fsc->paises"}
         ['{$value['codpais']}', 'Global', {$value['activos']}],
         {/loop}
      ]);
      
      var chart3 = new google.visualization.TreeMap(document.getElementById('chart_paises'));
      var options = {
         highlightOnMouseOver: true,
         minColor: '#EFFFFF',
         midColor: '#6CCFFF',
         maxColor: '#447EFF',
         useWeightedAverageForAggregation: true,
      };
      chart3.draw(data3, options);
   }
</script>
{/if}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
               Estadísticas de uso de FacturaScripts
            </h1>
            <p class='help-block'>
               Todavía hay mucha gente que nos pregunta si FacturaScripts se usa
               en alguna empresa. La respuesta es un rotundo <b>SI</b>. Pero
               para ofrecer algo más de información, aquí te tienes algunos
               datos para que veas la evolución de FacturaScripts en tiempo real.
            </p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <p class='help-block'>
            Estos datos estadísticos contraponen número de descargas
            y total de usuarios en la web. Para que puedas ver la evolución de las
            descargas y el número de usuarios en un mismo gráfico.
            Los datos están ordenados por semana y año, siendo
            <b>#48(2015)</b> la semana 48 del año 2015.
         </p>
         <div id="chart_div"></div>
         <hr/>
         <br/>
         <p class="help-block">
            Estos son los datos de visitantes nuevos VS total. Para que puedas ver
            tanto la evolución del número de usuarios como el tamaño de los incrementos.
            Los datos están ordenados por semana y año, siendo <b>#50(2015)</b>
            la semana 50 del año 2015.
         </p>
         <div id="chart_clientes"></div>
         <hr/>
         <br/>
         <p class="help-block">
            Esta es la distribución de los usuarios por <b>paises</b>. Cuantos
            más usuarios hay en un pais, más grande es el rectángulo.
         </p>
         <div id="chart_paises"></div>
      </div>
   </div>
</div>

{include="public/footer"}