{include="header"}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   google.load("visualization", "1", {packages:["corechart","treemap"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
      {if="$fsc->mostrar=='uso'"}
      var data = google.visualization.arrayToDataTable([
         ['fecha', 'activos', 'descargas'],
         {loop="$fsc->diario"}
         ['{$value['fecha']}', {$value['activos']}, {$value['descargas']}],
         {/loop}
      ]);
      
      var classicOptions = {
         height: 400,
         series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
         },
         vAxes: {
            0: {title: 'Instalaciones activas'},
            1: {title: 'Descargas'}
         },
      };
      
      var chart = new google.visualization.AreaChart(document.getElementById('chart-uso'));
      chart.draw(data, classicOptions);
      
      var data2 = google.visualization.arrayToDataTable([
         ['fecha', 'activos', 'descargas'],
         {loop="$fsc->mensual"}
         ['{$key}', {$value['activos']}, {$value['descargas']}],
         {/loop}
      ]);
      
      var chart2 = new google.visualization.AreaChart(document.getElementById('chart-uso-mes'));
      chart2.draw(data2, classicOptions);
      
      {elseif="$fsc->mostrar=='clientes'"}
      
      var data3 = google.visualization.arrayToDataTable([
         ['fecha', 'nuevos', 'total'],
         {loop="$fsc->mensual_clientes"}
         ['{$value['fecha']}', {$value['nuevos']}, {$value['suma']}],
         {/loop}
      ]);
      
      var classicOptions = {
         height: 400,
         series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
         },
         vAxes: {
            0: {title: 'Nuevos visitantes'},
            1: {title: 'Total'}
         },
      };
      
      var chart3 = new google.visualization.AreaChart(document.getElementById('chart-clientes'));
      chart3.draw(data3, classicOptions);
      
      var data4 = google.visualization.arrayToDataTable([
         ['TXT', 'Total'],
         ['Compradores', {$fsc->num_compradores()}],
         ['Resto', {$fsc->num_compradores(TRUE)}],
        ]);
      
      var chart4 = new google.visualization.PieChart(document.getElementById('chart-compradores'));
      var options = {
         is3D: true,
      };
      chart4.draw(data4, options);
      
      {elseif="$fsc->mostrar=='plugins'"}
      
      {/if}
   }
</script>

<ul class="nav nav-tabs">
   <li{if="$fsc->mostrar=='uso'"} class="active"{/if}>
      <a href="{$fsc->url()}">Uso</a>
   </li>
   <li{if="$fsc->mostrar=='clientes'"} class="active"{/if}>
      <a href="{$fsc->url()}&mostrar=clientes">Clientes</a>
   </li>
   <li{if="$fsc->mostrar=='plugins'"} class="active"{/if}>
      <a href="{$fsc->url()}&mostrar=plugins">Plugins</a>
   </li>
</ul>
<div class="tab-content">
   {if="$fsc->mostrar=='uso'"}
   <div role="tabpanel" class="tab-pane active">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
               <br/>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Diario</h3>
                  </div>
                  <div class="panel-body">
                     <div id="chart-uso"></div>
                  </div>
                  <div class="panel-footer">
                     <p class="help-block">
                        Número de descargas diarias y estimación de instalaciones
                        activas de FacturaScripts. Pueden ser más. Menos no.
                     </p>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Mensual</h3>
                  </div>
                  <div class="panel-body">
                     <div id="chart-uso-mes"></div>
                  </div>
                  <div class="panel-footer">
                     <p class="help-block">
                        Número de descargas mensuales y estimación de instalaciones
                        activas de FacturaScripts, filtrando por IPs únicas.
                        Pueden ser más, pero no menos.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Versión</th>
                           <th class="text-right">Descargas</th>
                           <th class="text-right">Activos</th>
                           <th class="text-right">%</th>
                        </tr>
                     </thead>
                     {loop="$fsc->versiones"}
                     <tr{if="$value['version']==$fsc->version()"} class="info"{/if}>
                        <td>{$value['version']}</td>
                        <td class="text-right">{$value['descargas']}</td>
                        <td class="text-right">{$value['activos']}</td>
                        <td class="text-right">{$fsc->show_numero($value['porcentaje'])}</td>
                     </tr>
                     {else}
                     <tr>
                        <td colspan="4" class="warning">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Tabla</th>
                           <th>Agrupación</th>
                           <th class="text-right">Contador</th>
                        </tr>
                     </thead>
                     {loop="$fsc->tablas"}
                     <tr>
                        <td>{$value['tabla']}</td>
                        <td>{$value['agrupacion']}</td>
                        <td class="text-right">{$fsc->show_numero($value['contador'], 0)}</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   {else}
   <div role="tabpanel" class="tab-pane"></div>
   {/if}
   {if="$fsc->mostrar=='clientes'"}
   <div role="tabpanel" class="tab-pane active">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
               <br/>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Crecimiento</h3>
                  </div>
                  <div class="panel-body">
                     <div id="chart-clientes"></div>
                  </div>
                  <div class="panel-footer">
                     <p class="help-block">
                        Número de clientes en la comunidad y sus picos de crecimiento.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>País</th>
                           <th class="text-right">Activos</th>
                           <th class="text-right">%</th>
                           <th class="text-right">Clientes</th>
                           <th class="text-right">%</th>
                        </tr>
                     </thead>
                     {loop="$fsc->paises()"}
                     <tr>
                        <td>{$value['codpais']}</td>
                        <td class="text-right">{$value['activos']}</td>
                        <td class="text-right">{$fsc->show_numero($value['porcentaje'])}</td>
                        <td class="text-right">{$value['clientes']}</td>
                        {if="$value['clientes_p']<$value['porcentaje']"}
                        <td class="text-right warning">{$fsc->show_numero($value['clientes_p'])}</td>
                        {else}
                        <td class="text-right">{$fsc->show_numero($value['clientes_p'])}</td>
                        {/if}
                     </tr>
                     {else}
                     <tr>
                        <td colspan="5" class="warning">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Provincia</th>
                           <th class="text-right">Clientes</th>
                           <th class="text-right">%</th>
                        </tr>
                     </thead>
                     {loop="$fsc->provincia('ES')"}
                     <tr>
                        <td>{$value['provincia']}</td>
                        <td class="text-right">{$value['clientes']}</td>
                        <td class="text-right">{$fsc->show_numero($value['porcentaje'])}</td>
                     </tr>
                     {else}
                     <tr>
                        <td colspan="3" class="warning">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Compradores</h3>
                  </div>
                  <div class="panel-body">
                     <div id="chart-compradores"></div>
                  </div>
                  <div class="panel-footer">
                     <p class="help-block">
                        Porcentaje de clientes que han comprado algún plugin.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {else}
   <div role="tabpanel" class="tab-pane"></div>
   {/if}
   {if="$fsc->mostrar=='plugins'"}
   <div role="tabpanel" class="tab-pane active">
      <div class="table-responsive">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>#</th>
                  <th></th>
                  <th>Plugin</th>
                  <th class="text-right">IPs únicas</th>
                  <th class="text-right">%</th>
                  <th class="text-right">Ventas</th>
                  <th class="text-right">%</th>
                  <th class="text-right">Actualizaciones</th>
               </tr>
            </thead>
            {loop="$fsc->plugins()"}
            <tr>
               <td>{$counter+1}</td>
               <td class="text-right">
                  {if="$value['url']"}
                  <span class="glyphicon glyphicon-eye-open"></span>
                  {/if}
               </td>
               <td>
                  {if="$value['url']"}
                  <a href="{$value['url']}">{$key}</a>
                  {else}
                  {$key}
                  {/if}
               </td>
               <td class="text-right">{$value['ips']}</td>
               <td class="text-right">{$fsc->show_numero($value['porcentaje'])}</td>
               <td class='text-right{if="$value['ventas']==0"} warning{/if}'>{$value['ventas']}</td>
               <td class="text-right">{$fsc->show_numero($value['ventas_p'])}</td>
               <td class='text-right{if="$value['actualizaciones']==0"} warning{/if}'>{$value['actualizaciones']}</td>
            </tr>
            {else}
            <tr>
               <td colspan="8" class="warning">Sin resultados.</td>
            </tr>
            {/loop}
         </table>
      </div>
   </div>
   {else}
   <div role="tabpanel" class="tab-pane"></div>
   {/if}
</div>

{include="footer"}