{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               Tus claves de plugins
               <a href="{$fsc->url()}" class="btn btn-xs btn-default">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </h1>
            <p class="help-block">Estas son las claves de los plugins que has comprado.</p>
         </div>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Plugin</th>
                     <th>Clave</th>
                     <th class="text-right">Descargas</th>
                  </tr>
               </thead>
               {loop="$fsc->claves"}
               <tr>
                  <td><a href="index.php?page=community_edit_plugin&id={$value->idplugin}">{$value->plugin}</a></td>
                  <td>{$value->private_update_key}</td>
                  <td class="text-right">{$value->descargas}</td>
               </tr>
               {else}
               <tr>
                  <td colspan="3" class="warning">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
</div>

{include="footer"}