{include="header"}

{if="!$fsc->item"}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="nooooo"/>
</div>
{elseif="$fsc->item->ocultar_privado($fsc->user)"}
<div class="alert alert-danger">No tienes permiso para ver esta página, es privada.</div>
{else}
<script type="text/javascript">
   function delete_comment(idc)
   {
      if( confirm("¿Realmente desea eliminar el comentario?") )
      {
         window.location.href = '{$fsc->item->url()}&delete='+idc;
      }
   }
   $(document).ready(function() {
      $("#b_eliminar_item").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente desea eliminar la página?") )
            window.location.href = 'index.php?page=community_colabora&delete={$fsc->item->id}';
      });
      
      $("#ac_relacion").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_iditem',
         onSelect: function(suggestion) {
            if(suggestion)
            {
               if(document.f_relacion.iditem2.value != suggestion.data)
               {
                  document.f_relacion.iditem2.value = suggestion.data;
               }
            }
         }
      });
   });
</script>

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
   <div class="row">
      <div class="col-sm-6 col-xs-6">
         <a class="btn btn-sm btn-default" href="{$fsc->item->url()}" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <div class="btn-group">
            <a class="btn btn-sm btn-default" href="index.php?page=community_colabora">
               <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Inicio
            </a>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="caret"></span>
               <span class="sr-only">Más</span>
            </button>
            <ul class="dropdown-menu">
               <li>
                  <a class="bg-danger" href="index.php?page=community_errors">
                     <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Errores
                  </a>
               </li>
               <li>
                  <a class="bg-success" href="index.php?page=community_ideas">
                     <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Ideas
                  </a>
               </li>
               <li>
                  <a class="bg-warning" href="index.php?page=community_questions">
                     <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Preguntas
                  </a>
               </li>
               <li>
                  <a class="bg-info" href="index.php?page=community_tareas">
                     <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Tareas
                  </a>
               </li>
            </ul>
         </div>
         <div class="btn-group">
         {loop="$fsc->extensions"}
            {if="$value->type=='button'"}
            <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
            {/if}
         {/loop}
         </div>
      </div>
      <div class="col-sm-6 col-xs-6 text-right">
         {if="$fsc->allow_delete"}
         <a id="b_eliminar_item" class="btn btn-sm btn-danger" href="#">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="hidden-xs"> &nbsp; Eliminar</span>
         </a>
         {/if}
      </div>
   </div>
</div>

<div role="tabpanel">
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            {if="$fsc->item->privado"}
            <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
            {else}
            <span class="glyphicon glyphicon-pushpin"></span>
            {/if}
            <span class="hidden-xs"> &nbsp; {$fsc->item->tipo()}</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#editar" aria-controls="editar" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="hidden-xs"> &nbsp; Editar</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#info" aria-controls="info" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-search"></span>
            <span class="hidden-xs"> &nbsp; Info</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#relacionadas" aria-controls="relacionadas" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-paperclip"></span>
            <span class="hidden-xs"> &nbsp; Relacionadas</span>
            <span class="badge">{function="count($fsc->relaciones)"}</span>
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home" style="padding: 12px;">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-9">
                  <div class="{$fsc->item->bootstrap_class()}" style="padding: 10px; margin-bottom: 10px;">
                     <p>{$fsc->bbcode2html($fsc->item->texto)}</p>
                  </div>
                  {if="$fsc->item->tags"}
                  <div style="margin-bottom: 10px;">
                     {loop="$fsc->item_tags()"}
                     <a href="index.php?page=community_search&tag={$value}" class="label label-default">{$value}</a> &nbsp;
                     {/loop}
                  </div>
                  {/if}
                  
                  {loop="$fsc->comments"}
                  <div class="well well-sm">
                     <span class="pull-right">
                        <small>{$value->timesince()}</small> &nbsp;
                        {if="$fsc->allow_delete"}
                        <a href="#" title="eliminar" onclick="delete_comment('{$value->id}')">
                           <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        {/if}
                     </span>
                     {if="$value->privado"}
                     <span class="glyphicon glyphicon-eye-close" title="Comentario privado"></span> &nbsp;
                     {/if}
                     <span class="glyphicon glyphicon-user"></span> &nbsp;
                     <a href="index.php?page=community_visitantes&email={$value->email}&nick={$value->nick}">{$value->email()}</a>
                     {if="$value->perfil"}
                     &nbsp; <span class="label label-default">{$value->perfil}</span>
                     {/if}
                     <hr style="margin-top: 12px; margin-bottom: 5px;"/>
                     <p>{$fsc->bbcode2html($value->texto)}</p>
                  </div>
                  {/loop}
                  
                  {if="$fsc->item->estado=='cerrado'"}
                  <div class="alert alert-info">No se pueden hacer más comentarios.</div>
                  {else}
                  <form action="{$fsc->item->url()}" method="post" class="form">
                     <input type="hidden" name="petid" value="{$fsc->random_string()}"/>
                     <div class="well well-sm">
                        <div class="form-group">
                           <textarea class="form-control" name="comentario" rows="6" placeholder="Nuevo comentario">{$fsc->comment_text}</textarea>
                           <p class="help-block">
                              <a target="_blank" href="http://www.imgur.com">¿Quieres añadir una imagen?</a>
                              Puedes usar <a href="http://es.wikipedia.org/wiki/BBCode#Hiperv.C3.ADnculos" target="_blank">bbcode</a>.
                           </p>
                        </div>
                        <div class="row">
                           <div class="col-sm-4">
                              {if="$fsc->empresa->can_send_mail()"}
                              <div class="form-group">
                                 Enviar email a:
                                 <select name="feedback_sendmail" class="form-control">
                                    <option value="">Nadie</option>
                                    <option value="">-----</option>
                                    {loop="$fsc->emails"}
                                       {if="$value==$fsc->item->email"}
                                       <option value="{$value}" selected="">{$value}</option>
                                       {else}
                                       <option value="{$value}">{$value}</option>
                                       {/if}
                                    {/loop}
                                 </select>
                              </div>
                              {/if}
                           </div>
                           <div class="col-sm-8">
                              <br/>
                              <div class="checkbox">
                                 <label>
                                    <input type="checkbox" name="privado" value="TRUE"/>
                                    Comentario privado: solamente será visible desde la parte privada,
                                    es decir, el cliente no podrá leerlo.
                                 </label>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-6">
                              <a href="{$fsc->item->url()}&cerrar=TRUE" class="btn btn-sm btn-warning">
                                 <span class="glyphicon glyphicon-lock"></span> &nbsp; Cerrar
                              </a>
                           </div>
                           <div class="col-xs-6 text-right">
                              <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                                 <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
                              </button>
                           </div>
                        </div>
                     </div>
                  </form>
                  {/if}
               </div>
               <div class="col-sm-3">
                  <div class="list-group">
                     {if="$fsc->item_visitante"}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item active">
                           <span class="glyphicon glyphicon-user"></span>
                           &nbsp; {if="$fsc->item->nick"}{$fsc->item->nick}{else}{$fsc->item->email}{/if}
                        </a>
                        <a href="" class="list-group-item">
                           {if="$fsc->item_visitante->codpais"}
                           <span class="badge">{$fsc->item_visitante->codpais}</span>
                           {/if}
                           <span class="glyphicon glyphicon-globe"></span>
                           &nbsp; {$fsc->item_visitante->provincia}
                        </a>
                        {if="$fsc->item_visitante->compras>0"}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item list-group-item-success">
                           <span class="badge">{$fsc->item_visitante->compras}</span>
                           <span class="glyphicon glyphicon-shopping-cart"></span> &nbsp; Compras
                        </a>
                        {/if}
                        {if="$fsc->item_visitante->interacciones>0"}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item">
                           <span class="badge">{$fsc->item_visitante->interacciones}</span>
                           <span class="glyphicon glyphicon-comment"></span> &nbsp; Mensajes + comentarios
                        </a>
                        {/if}
                        {if="$fsc->item_visitante->observaciones"}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item list-group-item-warning">
                           <span class="glyphicon glyphicon-info-sign"></span> &nbsp; {$fsc->item_visitante->observaciones}
                        </a>
                        {/if}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item">
                           <span class="glyphicon glyphicon-tag"></span> &nbsp; Perfil: {$fsc->item_visitante->perfil}
                        </a>
                        {if="$fsc->item_visitante->autorizado"}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item">
                           <span class="glyphicon glyphicon-eye-open"></span> &nbsp; Autorizado: {$fsc->item_visitante->autorizado}
                        </a>
                        {/if}
                        {if="$fsc->item_visitante->autorizado2"}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item">
                           <span class="glyphicon glyphicon-eye-open"></span> &nbsp; Autorizado: {$fsc->item_visitante->autorizado2}
                        </a>
                        {/if}
                        {if="$fsc->item_visitante->autorizado3"}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item">
                           <span class="glyphicon glyphicon-eye-open"></span> &nbsp; Autorizado: {$fsc->item_visitante->autorizado3}
                        </a>
                        {/if}
                        {if="$fsc->item_visitante->autorizado4"}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item">
                           <span class="glyphicon glyphicon-eye-open"></span> &nbsp; Autorizado: {$fsc->item_visitante->autorizado4}
                        </a>
                        {/if}
                        {if="$fsc->item_visitante->autorizado5"}
                        <a href="{$fsc->item_visitante->url()}" class="list-group-item">
                           <span class="glyphicon glyphicon-eye-open"></span> &nbsp; Autorizado: {$fsc->item_visitante->autorizado5}
                        </a>
                        {/if}
                        {loop="$fsc->user->all()"}
                           {if="$fsc->item->asignados=='['.$value->nick.']'"}
                           <a href="" class="list-group-item">
                              <span class="glyphicon glyphicon-share-alt"></span> &nbsp; Asignado: {$value->nick}
                           </a>
                           {/if}
                        {/loop}
                     {else}
                     <a href="" class="list-group-item">
                        {if="$fsc->item->codpais"}
                        <span class="badge">{$fsc->item->codpais}</span>
                        {/if}
                        {if="$fsc->item->nick"}{$fsc->item->nick}{else}{$fsc->item->email}{/if}
                     </a>
                     {/if}
                     <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-calendar"></span> &nbsp; {$fsc->item->creado()}
                     </a>
                     <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-flash"></span> &nbsp; Prioridad: {$fsc->item->prioridad}
                     </a>
                  </div>
                  
                  {if="$fsc->item_visitante"}
                  <div class="list-group">
                     <a href="#" class="list-group-item active">
                        Programadores disponibles
                     </a>
                     {if="$fsc->user->admin"}
                        {loop="$fsc->programadores_disponibles()"}
                        <a href="{$value->url()}" class="list-group-item">
                           <span class="badge">{$value->codpais}</span> {$value->email}
                        </a>
                        {else}
                        <a href="#" class="list-group-item">
                           <span class="glyphicon glyphicon-exclamation-sign"></span> &nbsp; Ninguno
                        </a>
                        {/loop}
                     {elseif="!$fsc->visitante"}
                     <a href="#" class="list-group-item">ERROR</a>
                     {elseif="$fsc->visitante->perfil=='partner'"}
                        {loop="$fsc->programadores_disponibles()"}
                        <a href="mailto:{$value->email}" target="_blank" class="list-group-item">
                           <span class="badge">{$value->codpais}</span> {$value->email}
                        </a>
                        {else}
                        <a href="#" class="list-group-item">
                           <span class="glyphicon glyphicon-exclamation-sign"></span> &nbsp; Ninguno
                        </a>
                        {/loop}
                     {/if}
                  </div>
                  {/if}
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="info">
         <br/>
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <h4>Esta es la información adicional que ha enviado FacturaScripts:</h4>
                  <pre>{$fsc->item->info}</pre>
                  <h4>
                     Además, esta es la información recopilada sobre la IP:
                     {$fsc->item->ip}
                  </h4>
                  {loop="$fsc->info_ip"}
                  <pre>{$value}</pre>
                  {/loop}
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="editar">
         <form action="{$fsc->item->url()}" method="post" class="form">
            <div class="container-fluid" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group">
                        <textarea class="form-control" name="feedback_text" rows="15" placeholder="Cuentame...">{$fsc->item->texto}</textarea>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        Tipo:
                        <select name="feedback_type" class="form-control">
                           <option value="{$fsc->item->tipo}">{$fsc->item->tipo}</option>
                           <option value="{$fsc->item->tipo}">---</option>
                           <option value="question">Pregunta</option>
                           <option value="error">Informe de un error</option>
                           <option value="idea">Idea</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        Estado:
                        <select name="feedback_estado" class="form-control">
                           <option value="abierto"{if="$fsc->item->estado=='abierto'"} selected="selected"{/if}>Abierto</option>
                           <option value="en progreso"{if="$fsc->item->estado=='en progreso'"} selected="selected"{/if}>En progreso</option>
                           <option value="cerrado"{if="$fsc->item->estado=='cerrado'"} selected="selected"{/if}>Cerrado</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="checkbox">
                        <label>
                           <input type="checkbox" name="feedback_privado" value="TRUE"{if="$fsc->item->privado"} checked="checked"{/if}/>
                           Privado
                        </label>
                     </div>
                     <div class="checkbox">
                        <label>
                           <input type="checkbox" name="feedback_destacado" value="TRUE"{if="$fsc->item->destacado"} checked="checked"{/if}/>
                           Destacado
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Usuario asignado:
                        <select name="asignados" class="form-control">
                           <option value="">Ninguno</option>
                           <option value="">------</option>
                           {loop="$fsc->usuarios_disponibles()"}
                              {if="$fsc->item->asignados=='['.$value.']'"}
                              <option value="{$value}" selected="selected">{$value}</option>
                              {else}
                              <option value="{$value}">{$value}</option>
                              {/if}
                           {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        Prioridad:
                        <input type="number" name="prioridad" value="{$fsc->item->prioridad}" class="form-control"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-8">
                     <div class="form-group">
                        Etiquetas:
                        <input type="text" name="feedback_tags" value="{$fsc->item->tags}" class="form-control" placeholder="[etiqueta1],[etiqueta2]" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-4 text-right">
                     <br/>
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                     </button>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="relacionadas">
         <div class="table-responsive">
            <table class="table">
               <thead>
                  <tr>
                     <th><span class="glyphicon glyphicon-flash" aria-hidden="true" title="Prioridad"></span></th>
                     <th class="text-right">Autor</th>
                     <th class="text-left">Pais</th>
                     <th class="text-left">Mensaje</th>
                     <th class="text-right">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true" title="Comentarios"></span>
                     </th>
                     <th class="text-right" width="120">Cambios</th>
                     <th></th>
                  </tr>
               </thead>
               {loop="$fsc->relaciones"}
                  {$itemr=$value->item($fsc->item->id)}
                  {if="!$itemr->ocultar_privado($fsc->user)"}
                  <tr class="clickableRow {$itemr->bootstrap_class()}" href="{$itemr->url()}">
                     <td><span title="Prioridad: {$itemr->prioridad}">{$itemr->prioridad}</span></td>
                     <td class="text-right">{$itemr->email()}</td>
                     <td>{$itemr->codpais}</td>
                     <td>
                        {if="$itemr->destacado"}
                        <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
                        {/if}
                        {if="$itemr->tipo=='task'"}
                        <span class="glyphicon glyphicon-screenshot" title="Tarea"></span>
                        {/if}
                        {if="$itemr->privado"}
                        <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                        {/if}
                        {if="$itemr->estado=='cerrado'"}
                        <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
                        {/if}
                        {$itemr->resumen()}
                        {if="$itemr->ultimo_comentario"}<br/>Último comentario: <b>{$itemr->ultimo_comentario}</b>{/if}
                     </td>
                     <td class="text-right"><span title="{$itemr->num_comentarios} comentarios">{$itemr->num_comentarios}</span></td>
                     <td class="text-right">
                        <a href="{$itemr->url()}">{$itemr->timesince()}</a>
                     </td>
                     <td class="text-right">
                        <a href="{$fsc->item->url()}&deleter={$value->id}" class="btn btn-xs btn-danger cancel_clickable" title="Eliminar la relación">
                           <span class="glyphicon glyphicon-trash"></span>
                        </a>
                     </td>
                  </tr>
                  {/if}
               {else}
               <tr>
                  <td colspan="7" class="bg-warning">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-5">
                  <h3>Relacionar con elemento existente</h3>
                  <p>
                     Puedes relacionar esta página con una tarea, informe de error,
                     sugerencia... Simplemente busca y asigna.
                  </p>
                  <form name="f_relacion" action="{$fsc->item->url()}" method="post" class="form">
                     <input type="hidden" name="iditem2"/>
                     <div class="input-group">
                        <input class="form-control" type="text" name="ac_relacion" id="ac_relacion" placeholder="Buscar" autocomplete="off"/>
                        <span class="input-group-btn">
                           <button class="btn btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                              <span class="glyphicon glyphicon-share-alt"></span>
                           </button>
                        </span>
                     </div>
                  </form>
               </div>
               <div class="col-sm-5 col-sm-offset-2">
                  <h3>Relacionar con nuevo elemento</h3>
                  <p>Por ejemplo, puedes crear una nueva tarea que quedará relacionada con esta página.</p>
                  <form action="index.php" method="get" class="form">
                     <input type="hidden" name="page" value="community_feedback"/>
                     <input type="hidden" name="feedback_type" value="task"/>
                     <input type="hidden" name="feedback_iditem" value="{$fsc->item->id}"/>
                     {if="$fsc->item->privado"}
                     <input type="hidden" name="feedback_privado" value="TRUE"/>
                     {/if}
                     <button type="submit" class="btn btn-sm btn-success">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        &nbsp; Continuar
                     </button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{/if}

{include="footer"}