{include="header"}

<script type="text/javascript">
   function delete_visitante(email)
   {
      if( confirm("¿Realmente desea eliminar el visitante?") )
         window.location.href = 'index.php?page=community_visitantes&delete='+email;
   }
</script>

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-user"></span>
               {$fsc->visitante->email}
               <small>{$fsc->visitante->perfil}</small>
               <a href="{$fsc->visitante->url()}" class="btn btn-xs btn-default">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </h1>
            {if="$fsc->visitante->privado"}
            <p class="help-block">
               <span class="glyphicon glyphicon-eye-close"></span> &nbsp;
               Este cliente tiene los mensajes ocultos.
            </p>
            {/if}
            <p class="help-block">
               Perfil creado el {$fsc->visitante->first_login()}. Último login
               {$fsc->visitante->last_login()}. Tiene un total de <b>{$fsc->visitante->interacciones}</b>
               interacciones y <b>{$fsc->visitante->compras}</b> compras.
               Localización <b>{$fsc->visitante->codpais}</b> &gt; {$fsc->visitante->provincia}
               &gt; {$fsc->visitante->ciudad}.
            </p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-10">
         <a href="{$fsc->url()}" class="btn btn-sm btn-default" title="Todos">
            <span class="glyphicon glyphicon-arrow-left"></span>
         </a>
         <a class="btn btn-sm btn-default" href="index.php?page=community_plan&email={$fsc->visitante->email}">
            <span class="glyphicon glyphicon-blackboard"></span>
            <span class="hidden-xs">&nbsp; Plan de desarrollo</span>
         </a>
      </div>
      <div class="col-sm-2 text-right">
         <a class="btn btn-sm btn-danger" onclick="delete_visitante('{$fsc->visitante->email}')">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="hidden-xs">&nbsp; Eliminar</span>
         </a>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-comment"></span> &nbsp; Mensajes
               </a>
            </li>
            <li role="presentation">
               <a href="#claves" aria-controls="claves" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-usd"></span> &nbsp; Claves
               </a>
            </li>
            <li role="presentation">
               <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-cog"></span> &nbsp; Perfil
               </a>
            </li>
         </ul>
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th></th>
                           <th class="text-left">Creado</th>
                           <th class="text-left">Mensaje</th>
                           <th class="text-right">
                              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                           </th>
                           <th class="text-right" width="120">Cambios</th>
                        </tr>
                     </thead>
                     {loop="$fsc->resultados"}
                     <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
                        <td>
                           {if="$value->privado"}
                           <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                           {/if}
                           {if="$value->destacado"}
                           <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
                           {/if}
                           {if="$value->estado=='cerrado'"}
                           <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
                           {/if}
                        </td>
                        <td>{$value->creado()}</td>
                        <td>
                           {$value->resumen()}
                           {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
                        </td>
                        <td class="text-right">{$value->num_comentarios}</td>
                        <td class="text-right">
                           <a href="{$value->url()}">{$value->timesince()}</a>
                        </td>
                     </tr>
                     {else}
                     <tr class="bg-warning">
                        <td colspan="5">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
               <ul class="pager">
                  {if="$fsc->offset > 0"}
                  <li class="previous">
                     <a href="{$fsc->visitante->url()}&offset={$fsc->offset-FS_ITEM_LIMIT}">
                        <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
                     </a>
                  </li>
                  {/if}
                  {if="count($fsc->resultados)==FS_ITEM_LIMIT"}
                  <li class="next">
                     <a href="{$fsc->visitante->url()}&offset={$fsc->offset+FS_ITEM_LIMIT}">
                        Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
                     </a>
                  </li>
                  {/if}
               </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="claves">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Plugin</th>
                           <th>Clave</th>
                           <th>Fecha compra</th>
                           <th class="text-right">Descargas</th>
                        </tr>
                     </thead>
                     {loop="$fsc->claves"}
                     <tr>
                        <td><a href="index.php?page=community_edit_plugin&id={$value->idplugin}">{$value->plugin}</a></td>
                        <td>{$value->private_update_key}</td>
                        <td>{$value->fecha} &nbsp; {$value->hora}</td>
                        <td class="text-right">{$value->descargas}</td>
                     </tr>
                     {else}
                     <tr>
                        <td colspan="4" class="warning">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
               <form action="{$fsc->visitante->url()}" method="post" class="form">
                  <div class="container-fluid" style="margin-top: 10px;">
                     <div class="row">
                        <div class="col-sm-4">
                           <div class="form-group">
                              Perfil:
                              <select name="perfil" class="form-control">
                                 <option value="{$fsc->visitante->perfil}">{$fsc->visitante->perfil}</option>
                                 <option value="{$fsc->visitante->perfil}">------</option>
                                 {loop="$fsc->perfiles()"}
                                 <option value="{$key}">{$value}</option>
                                 {/loop}
                              </select>
                              <label>
                                 <input type="checkbox" name="privado" value="TRUE"{if="$fsc->visitante->privado"} checked="checked"{/if}/>
                                 Marcar mensajes como privados
                              </label>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              Usuario:
                              <select name="nick" class="form-control">
                                 <option value="">Ninguno</option>
                                 <option value="">------</option>
                                 {loop="$fsc->user->all()"}
                                 <option value="{$value->nick}"{if="$value->nick==$fsc->visitante->nick"} selected="selected"{/if}>{$value->nick}</option>
                                 {/loop}
                              </select>
                              <p class="help-block">
                                 Si asignas un usuario, será obligatorio iniciar sesión con este usuario para usar este email.
                              </p>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                              Autorizado:
                              <select name="autorizado" class="form-control">
                                 <option value="">Ninguno</option>
                                 <option value="">------</option>
                                 {loop="$fsc->user->all()"}
                                 <option value="{$value->nick}"{if="$value->nick==$fsc->visitante->autorizado"} selected="selected"{/if}>{$value->nick}</option>
                                 {/loop}
                              </select>
                              <p class="help-block">
                                 El usuario autorizado podrá ver los mensajes privados de este perfil.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-3">
                           <div class="form-group">
                              Autorizado2:
                              <select name="autorizado2" class="form-control">
                                 <option value="">Ninguno</option>
                                 <option value="">------</option>
                                 {loop="$fsc->user->all()"}
                                 <option value="{$value->nick}"{if="$value->nick==$fsc->visitante->autorizado2"} selected="selected"{/if}>{$value->nick}</option>
                                 {/loop}
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-group">
                              Autorizado3:
                              <select name="autorizado3" class="form-control">
                                 <option value="">Ninguno</option>
                                 <option value="">------</option>
                                 {loop="$fsc->user->all()"}
                                 <option value="{$value->nick}"{if="$value->nick==$fsc->visitante->autorizado3"} selected="selected"{/if}>{$value->nick}</option>
                                 {/loop}
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-group">
                              Autorizado4:
                              <select name="autorizado4" class="form-control">
                                 <option value="">Ninguno</option>
                                 <option value="">------</option>
                                 {loop="$fsc->user->all()"}
                                 <option value="{$value->nick}"{if="$value->nick==$fsc->visitante->autorizado4"} selected="selected"{/if}>{$value->nick}</option>
                                 {/loop}
                              </select>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="form-group">
                              Autorizado5:
                              <select name="autorizado5" class="form-control">
                                 <option value="">Ninguno</option>
                                 <option value="">------</option>
                                 {loop="$fsc->user->all()"}
                                 <option value="{$value->nick}"{if="$value->nick==$fsc->visitante->autorizado5"} selected="selected"{/if}>{$value->nick}</option>
                                 {/loop}
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12 text-right">
                           <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                              <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                           </button>
                        </div>
                     </div>
                  </div>
               </form>
               <br/>
               {if="$fsc->user->admin"}
               <ul class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#">Autorizado para</a></li>
               </ul>
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th></th>
                           <th class="text-left">Email</th>
                           <th class="text-left">Perfil</th>
                           <th class="text-left">País</th>
                           <th class="text-right">Último login</th>
                        </tr>
                     </thead>
                     {loop="$fsc->autorizados"}
                     <tr class="clickableRow" href="{$fsc->url()}&email={$value->email}">
                        <td>
                           {if="$value->privado"}
                           <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                           {/if}
                        </td>
                        <td>
                           <a href="{$fsc->url()}&email={$value->email}">{$value->email}</a>
                           {if="$value->nick"}<span class="label label-default">{$value->nick}</span>{/if}
                        </td>
                        <td>{$value->perfil}</td>
                        <td>{$value->codpais}</td>
                        <td>{$value->last_ip}</td>
                        <td class="text-right">{$value->last_login()}</td>
                     </tr>
                     {else}
                     <tr>
                        <td colspan="6" class="bg-warning">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
               {/if}
            </div>
         </div>
      </div>
   </div>
</div>

{include="footer"}