{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <a class="btn btn-sm btn-default" href="index.php?page=community_colabora">
                  <span class="glyphicon glyphicon-arrow-left"></span>
               </a>
               Descargar
            </h1>
         </div>
         <p class="help-block">
            Aquí tienes el enlace para descargar la última versión de FacturaScripts.
            Hay contabilizadas un total de {$fsc->total_descargas} descargas, más
            las que se hayan realizado directamente.
         </p>
         <a class="btn btn-primary btn-lg" href="https://github.com/NeoRazorX/facturascripts_2015/archive/master.zip">
            Descargar FacturaScripts {$fsc->last_version}
         </a>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h2>Github</h2>
         </div>
         <p>
            Si lo que buscas es el repositorio de <b>GitHub</b>,
            la URL es esta:
            <a href="https://github.com/NeoRazorX/facturascripts_2015" target="_blank">https://github.com/NeoRazorX/facturascripts_2015</a>
         </p>
         <p>Si quieres descargar el código fuente directamente desde git, simplemente abre un terminal y escribe:</p>
         <pre>git clone https://github.com/NeoRazorX/facturascripts_2015.git</pre>
      </div>
   </div>
</div>

{include="footer"}