{include="header"}

<form action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="feedback_iditem" value="{$fsc->feedback_iditem}"/>
   <input type="hidden" name="feedback_info" value="{$fsc->feedback_info}"/>
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>¿Qué quieres escribir?</h1>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-5">
            <div class="form-group">
               <select name="feedback_type" class="form-control">
                  <option value="question"{if="$fsc->feedback_type=='question'"} selected="selected"{/if}>Una pregunta</option>
                  <option value="error"{if="$fsc->feedback_type=='error'"} selected="selected"{/if}>Un informe de error</option>
                  <option value="idea"{if="$fsc->feedback_type=='idea'"} selected="selected"{/if}>Una idea</option>
                  <option value="task"{if="$fsc->feedback_type=='task'"} selected="selected"{/if}>Una tarea</option>
               </select>
            </div>
         </div>
         <div class="col-sm-5">
            <div class="checkbox">
               <label>
                  <input type="checkbox" name="feedback_privado" value="TRUE"{if="$fsc->feedback_privado"} checked="checked"{/if}/>
                  Quiero que este mensaje sea privado.
               </label>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="text-right">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="form-group">
               <textarea class="form-control" name="feedback_text" rows="10" placeholder="Cuéntame...">{$fsc->feedback_text}</textarea>
            </div>
         </div>
      </div>
      <div class="row">
         {if="$fsc->visitante"}
            {if="$fsc->visitante->perfil=='partner'"}
            <div class="col-sm-4">
               <div class="form-group">
                  Prioridad:
                  <input type="number" name="prioridad" value="{$fsc->feedback_prioridad}" class="form-control"/>
                  <p class="help-block">Cuanta más alto el número, mayor la prioridad.</p>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="form-group">
                  Autor:
                  <select name="autor" class="form-control">
                     <option value="">Tú</option>
                     <option value="">---</option>
                     {loop="$fsc->clientes()"}
                     <option value="{$value->email}">{$value->email}</option>
                     {/loop}
                  </select>
                  <p class="help-block">
                     Si lo deseas, puedes crear este reporte en nombre de alguno
                     de tus clientes.
                  </p>
               </div>
            </div>
            {/if}
         {/if}
         <div class="col-sm-4">
            <div class="form-group">
               Usuario asignado:
               <select name="asignados" class="form-control">
                  <option value="">Ninguno</option>
                  <option value="">------</option>
                  {loop="$fsc->usuarios_disponibles()"}
                  <option value="{$value}">{$value}</option>
                  {/loop}
               </select>
            </div>
         </div>
      </div>
   </div>
</form>

{include="footer"}