{include="header"}

<script type="text/javascript">
   function nuevo_visitante()
   {
      var nuevo_email = prompt('Nuevo email:');
      window.location.href = '{$fsc->url()}&nuevo_email='+nuevo_email;
   }
</script>

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-6 col-xs-6">
         <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         <div class="btn-group">
            <a class="btn btn-sm btn-success" onclick="nuevo_visitante()">
               <span class="glyphicon glyphicon-plus"></span>
               <span class="hidden-xs">&nbsp; Nuevo</span>
            </a>
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-6 col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Hola {$fsc->perfil}</h2>
      </div>
   </div>
</div>

<ul class="nav nav-tabs">
   <li role="presentation" class="active">
      <a href="#">
         <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
         {if="$fsc->user->admin"}
         <span class="hidden-xs">&nbsp; Visitantes</span>
         {elseif="$fsc->perfil=='partner'"}
         <span class="hidden-xs">&nbsp; Tus clientes</span>
         {else}
         <span class="hidden-xs">&nbsp; Colaboradores</span>
         {/if}
      </a>
   </li>
</ul>

<form action="{$fsc->url()}" method="post">
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th></th>
               <th class="text-left">Email</th>
               <th class="text-left">Perfil</th>
               <th class="text-left">País</th>
               <th class="text-left">IP</th>
               <th class="text-right">Último login</th>
            </tr>
         </thead>
         <tr>
            <td></td>
            <td><div class="form-control">Filtros</div></td>
            <td>
               <select name="filtro_perfil" class="form-control" onchange="this.form.submit();">
                  <option value="---">Todos</option>
                  <option value="---">---</option>
                  {loop="$fsc->perfiles()"}
                  <option value="{$key}"{if="$fsc->filtro_perfil==$key AND $key!='---'"} selected="selected"{/if}>{$value}</option>
                  {/loop}
               </select>
            </td>
            <td>
               <select name="filtro_codpais" class="form-control" onchange="this.form.submit();">
                  <option value="---">Todos</option>
                  <option value="---">---</option>
                  {loop="$fsc->paises()"}
                  <option value="{$value}"{if="$fsc->filtro_codpais==$value"} selected="selected"{/if}>{$value}</option>
                  {/loop}
               </select>
            </td>
            <td colspan="2">
               <select name="filtro_orden" class="form-control" onchange="this.form.submit();">
                  <option value="first_login DESC"{if="$fsc->filtro_orden=='first_login DESC'"} selected="selected"{/if}>Ordenar por primer login</option>
                  <option value="last_login DESC"{if="$fsc->filtro_orden=='last_login DESC'"} selected="selected"{/if}>Ordenar por último login</option>
                  <option value="email ASC"{if="$fsc->filtro_orden=='email ASC'"} selected="selected"{/if}>Ordenar por email</option>
                  <option value="nick ASC"{if="$fsc->filtro_orden=='nick ASC'"} selected="selected"{/if}>Ordenar por usuario</option>
               </select>
            </td>
         </tr>
         {loop="$fsc->resultados"}
         <tr class="clickableRow" href="{$fsc->url()}&email={$value->email}">
            <td>
               {if="$value->privado"}
               <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
               {/if}
            </td>
            <td>
               <a href="{$fsc->url()}&email={$value->email}">{$value->email}</a>
               {if="$value->nick"}<span class="label label-default">{$value->nick}</span>{/if}
            </td>
            <td>{$value->perfil}</td>
            <td>{$value->codpais}</td>
            <td>{$value->last_ip}</td>
            <td class="text-right">{$value->last_login()}</td>
         </tr>
         {else}
         <tr class="bg-warning">
            <td></td>
            <td colspan="5">Sin resultados.</td>
         </tr>
         {/loop}
      </table>
   </div>
</form>

{include="footer"}