{include="header"}

{if="$fsc->item"}
<div role="tabpanel">
   <ul class="nav nav-tabs" role="tablist">
      <li>
         <a href="index.php?page=community_all" title="Todo">
            <span class="glyphicon glyphicon-arrow-left"></span>
         </a>
      </li>
      <li>
         <a href="{$fsc->item->url()}" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
      </li>
      <li role="presentation" class="active">
         <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            {if="$fsc->item->privado"}
            <span class="glyphicon glyphicon-eye-close" title="Privado"></span> &nbsp;
            {/if}
            {$fsc->item->tipo()}
         </a>
      </li>
      <li role="presentation">
         <a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a>
      </li>
      <li role="presentation">
         <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Relacionado</a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home" style="padding: 10px;">
         <div class="{$fsc->item->bootstrap_class()}" style="padding: 10px; margin-bottom: 10px;">
            <span class="pull-right">{$fsc->item->creado()}</span>
            <span class="glyphicon glyphicon-user"></span> &nbsp; {$fsc->item->email()}
            <hr/>
            <p>{$fsc->bbcode2html($fsc->item->texto)}</p>
         </div>
         <div class="container-fluid">
            {loop="$fsc->comments"}
            <div class="row">
               <div class="col-sm-12">
                  <div class="well well-sm">
                     <span class="pull-right">{$value->timesince()}</span>
                     <span class="glyphicon glyphicon-user"></span> &nbsp; {$value->email()}
                     <hr/>
                     <p>{$fsc->bbcode2html($value->texto)}</p>
                  </div>
               </div>
            </div>
            {/loop}
            <div class="row">
               <div class="col-sm-12">
                  <form action="{$fsc->item->url()}" method="post" class="form">
                     <div class="well well-sm">
                        <div class="form-group">
                           <textarea class="form-control" name="comentario" rows="6" placeholder="Nuevo comentario">{$fsc->comment_text}</textarea>
                           <p class="help-block">
                              <a target="_blank" href="http://www.imgur.com">¿Quieres añadir una imagen?</a>
                              Puedes usar <a href="http://es.wikipedia.org/wiki/BBCode#Hiperv.C3.ADnculos" target="_blank">bbcode</a>.
                           </p>
                        </div>
                        <div class="text-right">
                           <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                              <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
                           </button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="info">
         <pre style="margin: 5px;">{$fsc->item->info}</pre>
         <h2 class="text-center">IP: {$fsc->item->ip}</h2>
         {loop="$fsc->info_ip"}
         <pre style="margin: 5px;">{$value}</pre>
         {/loop}
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
         <div class="table-responsive">
            <table class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th class="text-left">Mensaje</th>
                     <th class="text-right" width="100">Cambios</th>
                  </tr>
               </thead>
               {loop="$fsc->relacionados"}
               <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
                  <td>
                     {if="$value->privado"}
                     <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                     {/if}
                  </td>
                  <td>{$value->texto}</td>
                  <td class="text-right">{$value->timesince()}</td>
               </tr>
               {else}
               <tr class="bg-warning">
                  <td colspan="3">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
</div>
{/if}

{include="footer"}