{include="header"}

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
      </div>
      <div class="col-sm-6 text-right">
         <h2 style="margin-top: 0px;">{$fsc->page->title}</h2>
      </div>
   </div>
</div>

<div role="tabpanel">
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
          <a href="#lista_plugins" aria-controls="lista_plugins" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <span class="hidden-xs"> &nbsp; Todos</span>
            <span class="badge">{function="count($fsc->lista_plugins)"}</span>
         </a>
      </li>
      <li role="presentation">
          <a href="#mis_plugins" aria-controls="mis_plugins" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="hidden-xs"> &nbsp; Mis plugins</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#nuevo" aria-controls="nuevo" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="hidden-xs"> &nbsp; Nuevo plugin</span>
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="lista_plugins">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-right">Nick</th>
                     <th class="text-left">Nombre</th>
                     <th class="text-left">Descripción</th>
                     {if="$fsc->user->admin"}
                     <th class="text-right">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                     </th>
                     {/if}
                     <th class="text-right">Modificado</th>
                  </tr>
               </thead>
               {loop="$fsc->lista_plugins"}
               <tr class="clickableRow{if="!$value->estable"} danger{elseif="$value->oculto"} warning{/if}" href="{$value->url()}">
                  <td class="text-right">{$value->nick}</td>
                  <td class="text-left">
                     <a href="{$value->url()}">{$value->nombre}</a>
                     {if="!$value->estable"}
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" title="inestable"></span>
                     {/if}
                     {if="$value->oculto"}
                     <span class="glyphicon glyphicon-eye-close" aria-hidden="true" title="oculto"></span>
                     {/if}
                  </td>
                  <td class="text-left">{$value->descripcion}</td>
                  {if="$fsc->user->admin"}
                  <td class="text-right">
                     <span title="Este valor es apróximado, puede distar mucho de la realidad.">{$value->descargas}</span>
                  </td>
                  {/if}
                  <td class="text-right">{$value->ultima_modificacion}</td>
               </tr>
               {else}
               <tr class="warning">
                  <td colspan="5">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
      <div role="tabpanel" class='tab-pane' id="mis_plugins">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">Nombre</th>
                     <th class="text-left">Descripción</th>
                     {if="$fsc->user->admin"}
                     <th class="text-right">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                     </th>
                     {/if}
                     <th class="text-right">Modificado</th>
                  </tr>
               </thead>
               {loop="$fsc->mis_plugins"}
               <tr class="clickableRow{if="!$value->estable"} danger{elseif="$value->oculto"} warning{/if}" href="{$value->url()}">
                  <td class="text-left">
                     <a href="{$value->url()}">{$value->nombre}</a>
                     {if="!$value->estable"}
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" title="inestable"></span>
                     {/if}
                     {if="$value->oculto"}
                     <span class="glyphicon glyphicon-eye-close" aria-hidden="true" title="oculto"></span>
                     {/if}
                  </td>
                  <td class="text-left">{$value->descripcion}</td>
                  {if="$fsc->user->admin"}
                  <td class="text-right">
                     <span title="Este valor es apróximado, puede distar mucho de la realidad.">{$value->descargas}</span>
                  </td>
                  {/if}
                  <td class="text-right">{$value->ultima_modificacion}</td>
               </tr>
               {else}
               <tr class="warning">
                  <td colspan="4">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="nuevo">
         <form name="f_nuevo_plugin" class="form" action="{$fsc->url()}" method="post">
            <div class="container-fluid" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="form-group">
                        Autor:
                        <input type="text" name="autor" value="{$fsc->user->nick}" class="form-control" disabled=""/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Nombre:
                        <input class="form-control" type="text" name="nombre" placeholder="nombre del plugin" autocomplete="off" autofocus/>
                        <label>
                           <input type="checkbox" name="oculto" value="TRUE"/>
                           Oculto para todo el que no lo tenga instalado
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Versión:
                        <input class="form-control" type="number" name="version" value="1" />
                        <label>
                           <input type="checkbox" name="estable" value="TRUE" checked="checked"/>
                           Estable
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Última modificación:
                        <input class="form-control datepicker" type="text" name="ultima_modificacion" value="{$fsc->today()}" autocomplete="off"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="form-group">
                        Web:
                        <input class="form-control" type="text" name="link" placeholder="http://" autocomplete="off"/>
                        <p class="help-block">
                           Si es un plugin gratuito, pon la url de github o donde tengas alojado el código.
                           Si es un plugin de pago, pon la url del producto en la tienda.
                        </p>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        Enlace público al ZIP:
                        <input class="form-control" type="text" name="zip_link" placeholder="dejar en blanco para plugins de pago" autocomplete="off"/>
                        <p class="help-block">
                           Solamente para plugins gratuitos. Se corresponde con update_url de facturascripts.ini
                        </p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group">
                        Descripción corta:
                        <textarea class="form-control" name="descripcion" rows="3"></textarea>
                        <p class="help-block">No se permite HTML.</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group">
                        Descripción larga (HTML):
                        <textarea class="form-control" rows="6" name="descripcion_html"></textarea>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-9">
                     <div class="form-group">
                        Imagen:
                        <input class="form-control" type="text" name="imagen" placeholder="http://" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <br/>
                     <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-primary">
                           <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                           &nbsp; Guardar
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>

{include="footer"}