{include="header"}

{if="$fsc->diario"}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['fecha', 'activos', 'descargas'],
          {loop="$fsc->diario_reverse()"}
          ['{$value['fecha']}', {$value['activos']}, {$value['descargas']}],
          {/loop}
        ]);

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data);
   }
</script>
{/if}

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-6 col-xs-6">
         <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         
         <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-6 col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Estadísticas</h2>
      </div>
   </div>
</div>

<div role="tabpanel">
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
         </a>
      </li>
      <li role="presentation">
         <a href="#plugins" aria-controls="plugins" role="tab" data-toggle="tab">Plugins</a>
      </li>
      <li role="presentation">
         <a href="#bruto" aria-controls="bruto" role="tab" data-toggle="tab">Bruto</a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div id="chart_div"></div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Fecha</th>
                           <th class="text-right">Descargas</th>
                           <th class="text-right">Activos</th>
                        </tr>
                     </thead>
                     {loop="$fsc->diario"}
                     <tr>
                        <td>{$value['fecha']}</td>
                        <td class="text-right">{$value['descargas']}</td>
                        <td class="text-right">{$value['activos']}</td>
                     </tr>
                     {else}
                     <tr>
                        <td colspan="3" class="bg-warning">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
            <div class="col-md-5">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>Versión</th>
                           <th class="text-right">Descargas</th>
                           <th class="text-right">Activos</th>
                           <th class="text-right">%</th>
                        </tr>
                     </thead>
                     {loop="$fsc->versiones"}
                     <tr{if="$value['version']==$fsc->version()"} class="bg-info"{/if}>
                        <td>{$value['version']}</td>
                        <td class="text-right">{$value['descargas']}</td>
                        <td class="text-right">{$value['activos']}</td>
                        <td class="text-right">{$fsc->show_numero($value['porcentaje'])}</td>
                     </tr>
                     {else}
                     <tr>
                        <td colspan="4" class="bg-warning">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
            <div class="col-md-3">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>País</th>
                           <th class="text-right">Activos</th>
                           <th class="text-right">%</th>
                        </tr>
                     </thead>
                     {loop="$fsc->paises"}
                     <tr>
                        <td>{$value['codpais']}</td>
                        <td class="text-right">{$value['activos']}</td>
                        <td class="text-right">{$fsc->show_numero($value['porcentaje'])}</td>
                     </tr>
                     {else}
                     <tr>
                        <td colspan="3" class="bg-warning">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="plugins">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Plugin</th>
                     <th class="text-right">Activos</th>
                     <th class="text-right">%</th>
                  </tr>
               </thead>
               {loop="$fsc->plugins"}
               <tr>
                  <td>{$key}</td>
                  <td class="text-right">{$value['total']}</td>
                  <td class="text-right">{$fsc->show_numero($value['porcentaje'])}</td>
               </tr>
               {else}
               <tr>
                  <td colspan="3" class="bg-warning">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="bruto">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Fecha</th>
                     <th>IP</th>
                     <th>País</th>
                     <th class="text-right">Versión</th>
                     <th class="text-right">Plugins</th>
                  </tr>
               </thead>
               {loop="$fsc->stat_items"}
               <tr>
                  <td>{$value->fecha}</td>
                  <td>{$value->ip}</td>
                  <td>{$value->codpais}</td>
                  <td class="text-right">{$value->version}</td>
                  <td class="text-right">{$value->plugins}</td>
               </tr>
               {else}
               <tr>
                  <td colspan="5" class="bg-warning">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
   </div>
</div>

{include="footer"}