{include="header2"}

{if="$fsc->visitante_s"}
<form action="{$fsc->visitante_s->url()}" method="post" class="form">
   <input type="hidden" name="snick" value="{$fsc->visitante_s->nick}"/>
   <div class="container-fluid" style="margin-top: 10px;">
      <div class="row">
         <div class="col-sm-4">
            <div class="form-group">
               Perfil:
               <select name="perfil" class="form-control">
                  <option value="{$fsc->visitante_s->perfil}">{$fsc->visitante_s->perfil}</option>
                  <option value="{$fsc->visitante_s->perfil}">------</option>
                  {loop="$fsc->perfiles()"}
                  <option value="{$key}">{$value}</option>
                  {/loop}
               </select>
               <label>
                  <input type="checkbox" name="privado" value="TRUE"{if="$fsc->visitante_s->privado"} checked="checked"{/if}/>
                  Marcar mensajes como privados
               </label>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="form-group">
               Usuario:
               <select name="nick" class="form-control">
                  <option value="">Ninguno</option>
                  <option value="">------</option>
                  {loop="$fsc->user->all()"}
                  <option value="{$value->nick}"{if="$value->nick==$fsc->visitante_s->nick"} selected="selected"{/if}>{$value->nick}</option>
                  {/loop}
               </select>
               <p class="help-block">
                  Si asignas un usuario, será obligatorio iniciar sesión con este usuario para usar este email.
               </p>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="form-group">
               Autorizado:
               <select name="autorizado" class="form-control">
                  <option value="">Ninguno</option>
                  <option value="">------</option>
                  {loop="$fsc->user->all()"}
                  <option value="{$value->nick}"{if="$value->nick==$fsc->visitante_s->autorizado"} selected="selected"{/if}>{$value->nick}</option>
                  {/loop}
               </select>
               <p class="help-block">
                  El usuario autorizado podrá ver los mensajes privados de este perfil.
               </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="form-group">
               Autorizado2:
               <select name="autorizado2" class="form-control">
                  <option value="">Ninguno</option>
                  <option value="">------</option>
                  {loop="$fsc->user->all()"}
                  <option value="{$value->nick}"{if="$value->nick==$fsc->visitante_s->autorizado2"} selected="selected"{/if}>{$value->nick}</option>
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Autorizado3:
               <select name="autorizado3" class="form-control">
                  <option value="">Ninguno</option>
                  <option value="">------</option>
                  {loop="$fsc->user->all()"}
                  <option value="{$value->nick}"{if="$value->nick==$fsc->visitante_s->autorizado3"} selected="selected"{/if}>{$value->nick}</option>
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Autorizado4:
               <select name="autorizado4" class="form-control">
                  <option value="">Ninguno</option>
                  <option value="">------</option>
                  {loop="$fsc->user->all()"}
                  <option value="{$value->nick}"{if="$value->nick==$fsc->visitante_s->autorizado4"} selected="selected"{/if}>{$value->nick}</option>
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Autorizado5:
               <select name="autorizado5" class="form-control">
                  <option value="">Ninguno</option>
                  <option value="">------</option>
                  {loop="$fsc->user->all()"}
                  <option value="{$value->nick}"{if="$value->nick==$fsc->visitante_s->autorizado5"} selected="selected"{/if}>{$value->nick}</option>
                  {/loop}
               </select>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-9">
            <div class="form-group">
               Observaciones:
               <textarea name="observaciones" rows="4" class="form-control">{$fsc->visitante_s->observaciones}</textarea>
            </div>
         </div>
         <div class="col-sm-3 text-right">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
            </button>
         </div>
      </div>
   </div>
</form>
{else}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <p class='help-block'>
            El usuario no está dado de alta en la comunidad, pero si lo deseas
            puedes añadirlo rápidamente pulsando el botón añadir.
         </p>
         <a href="{$fsc->url()}&nuevo_email={$fsc->email_from_tab()}&snick={$_REQUEST['snick']}" target="_blank" class="btn btn-sm btn-primary">
            Añadir a la comunidad
         </a>
      </div>
   </div>
</div>
{/if}

{include="footer2"}