{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <a href="index.php?page=community_colabora" class="btn btn-xs btn-default">
                  <span class="glyphicon glyphicon-arrow-left"></span>
               </a>
               Tus claves de plugins
               <a href="{$fsc->url()}" class="btn btn-xs btn-default">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </h1>
            <p class="help-block">
               Estas son las claves de los plugins que has comprado. Si acabas
               de comprar un plugin y no aparece aquí, espera unas horas, el
               proceso <b>no es inmediato</b>.
            </p>
         </div>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Plugin</th>
                     <th>Clave</th>
                     <th class="text-right">Descargas</th>
                  </tr>
               </thead>
               {loop="$fsc->claves"}
               <tr>
                  <td><a href="index.php?page=community_edit_plugin&id={$value->idplugin}">{$value->plugin}</a></td>
                  <td>{$value->private_update_key}</td>
                  <td class="text-right">{$value->descargas}</td>
               </tr>
               {else}
               <tr>
                  <td colspan="3" class="warning">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">¿No aparecen tus claves?</h3>
            </div>
            <div class="panel-body">
               <p class="help-block">
                  Si acabas de comprar un plugin, espera unas horas,
                  el proceso no es inmediato. Si lo compraste hace tiempo
                  ¿Usaste este email? <b>{$fsc->user->email}</b>
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12 text-center">
         <br/>
         <a href="https://dl.dropboxusercontent.com/u/169559/adminlte.zip" class="btn btn-primary">
            <span class="glyphicon glyphicon-download-alt"></span> &nbsp;
            Descarga el plugin con el nuevo estilo visual
         </a>
         <br/><br/>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         <a href="https://imgur.com/5XRa2Cm" target="_blank" class="thumbnail">
            <img src="https://i.imgur.com/5XRa2Cm.png?1" alt="FacturaScripts dashboard"/>
         </a>
         <p class="help-block">
            El <b>nuevo menú lateral</b> permite ver rápidamente todas las opciones.
         </p>
      </div>
      <div class="col-sm-4">
         <a href="https://imgur.com/GikxyE9" target="_blank" class="thumbnail">
            <img src="https://i.imgur.com/GikxyE9.png" alt="FacturaScripts"/>
         </a>
         <p class="help-block">
            El <b>buscador integrado de artículos</b> te permite ahorrar clics.
            Busca artículos desde cualquier página.
         </p>
      </div>
      <div class="col-sm-4">
         <a href="https://imgur.com/1du5Vzm" target="_blank" class="thumbnail">
            <img src="https://i.imgur.com/1du5Vzm.png?1" alt="FacturaScripts"/>
         </a>
         <p class="help-block">
            El <b>nuevo set de iconos</b> permite distinguir rápidamente las opciones
            dentro del menú.
         </p>
      </div>
   </div>
</div>

{include="footer"}