{include="header"}

<div class="container">
   <div class="row">
      <div class="col-sm-12 col-xs-12">
         <div class="page-header">
            <h1>Hola {$fsc->perfil}</h1>
         </div>
      </div>
   </div>
   {if="$fsc->anuncio"}
   <div class="row">
      <div class="col-sm-12">
         <div class="panel panel-info">
            <div class="panel-heading">
               <h3 class="panel-title">Anuncio</h3>
            </div>
            <div class="panel-body">{$fsc->anuncio}</div>
         </div>
      </div>
   </div>
   {/if}
   <div class="row">
      <div class="col-sm-9 col-xs-12">
         <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         
         <a href="index.php?page=community_feedback" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs"> &nbsp; Escribir...</span>
         </a>
         
         <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
         
         <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
               Más <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li>
                  <a href="index.php?page=community_all">
                     <span class="glyphicon glyphicon-list" aria-hidden="true"></span> &nbsp; Todo
                  </a>
               </li>
               {if="$fsc->user->admin"}
               <li>
                  <a href="index.php?page=community_admin">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp; Configuración
                  </a>
               </li>
               {/if}
               <li>
                  <a href="http://www.facturascripts.com/demo" target="_blank">
                     <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> &nbsp; Demo
                  </a>
               </li>
               <li>
                  <a href="index.php?page=community_download">
                     <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> &nbsp; Descargar
                  </a>
               </li>
               <li>
                  <a href="https://www.facturascripts.com/store" target="_blank">
                     <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> &nbsp; Tienda de plugins
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="col-sm-3 col-xs-12">
         <div class="visible-xs">
            <br/>
         </div>
         <form name="f_custom_search" action="index.php?page=community_search" method="post" class="form">
            <div class="input-group">
               <input class="form-control" type="text" name="query" value="{$fsc->query}" autocomplete="off" placeholder="Buscar">
               <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                     <span class="glyphicon glyphicon-search"></span>
                  </button>
               </span>
            </div>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <br/>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <ul class="nav nav-tabs" role="tablist">
            <li role='presentation'{if="$fsc->num_parati>0"} class='active'{/if}>
               <a href="#parati" aria-controls="parati" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Para ti</span>
                  <span class="badge">{$fsc->num_parati}</span>
               </a>
            </li>
            <li role='presentation'{if="$fsc->num_parati==0"} class='active'{/if}>
               <a href="#tuyo" aria-controls="tuyo" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Tuyo</span>
               </a>
            </li>
            {if="$fsc->perfil=='partner' OR $fsc->user->admin"}
            <li role='presentation'>
               <a href="#clientes" aria-controls="clientes" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Tus clientes</span>
                  <span class="badge">{function="count($fsc->tus_clientes)"}</span>
               </a>
            </li>
            {/if}
            <li role='presentation'>
               <a href="#tareas" aria-controls="tareas" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                  <span class="hidden-xs">&nbsp; Tareas pendientes</span>
                  {if="$fsc->tareas_parati"}
                  <span class="badge">{function="count($fsc->tareas_parati)"}</span>
                  {/if}
               </a>
            </li>
         </ul>
         <div class="tab-content">
            <div role='tabpanel' class='tab-pane{if="$fsc->num_parati>0"} active{/if}' id='parati'>
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th><span class="glyphicon glyphicon-flash" aria-hidden="true" title="Prioridad"></span></th>
                           <th class="text-right">Autor</th>
                           <th class="text-center">Perfil</th>
                           <th class="text-left">Pais</th>
                           <th class="text-left">Mensaje</th>
                           <th class="text-right">
                              <span class="glyphicon glyphicon-comment" aria-hidden="true" title="Comentarios"></span>
                           </th>
                           <th class="text-right" width="120">Cambios</th>
                        </tr>
                     </thead>
                     {loop="$fsc->parati"}
                        {if="!$value->ocultar_privado($fsc->user)"}
                        <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
                           <td><span title="Prioridad: {$value->prioridad}">{$value->prioridad}</span></td>
                           <td class="text-right">{$value->email()}</td>
                           <td class="text-center">{$value->perfil}</td>
                           <td>{$value->codpais}</td>
                           <td>
                              {if="$value->destacado"}
                              <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
                              {/if}
                              {if="$value->tipo=='task'"}
                              <span class="glyphicon glyphicon-screenshot" title="Tarea"></span>
                              {/if}
                              {if="$value->privado"}
                              <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                              {/if}
                              {if="$value->estado=='cerrado'"}
                              <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
                              {/if}
                              {$value->resumen()}
                              {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
                           </td>
                           <td class="text-right"><span title="{$value->num_comentarios} comentarios">{$value->num_comentarios}</span></td>
                           <td class="text-right">
                              <a href="{$value->url()}">{$value->timesince()}</a>
                           </td>
                        </tr>
                        {/if}
                     {else}
                     <tr class="bg-warning">
                        <td></td>
                        <td colspan="6">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
            <div role='tabpanel' class='tab-pane{if="$fsc->num_parati==0"} active{/if}' id='tuyo'>
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th><span class="glyphicon glyphicon-flash" aria-hidden="true" title="Prioridad"></span></th>
                           <th class="text-right">Autor</th>
                           <th class="text-center">Perfil</th>
                           <th class="text-left">Pais</th>
                           <th class="text-left">Mensaje</th>
                           <th class="text-right">
                              <span class="glyphicon glyphicon-comment" aria-hidden="true" title="Comentarios"></span>
                           </th>
                           <th class="text-right" width="120">Cambios</th>
                        </tr>
                     </thead>
                     {loop="$fsc->tuyo"}
                        {if="!$value->ocultar_privado($fsc->user)"}
                        <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
                           <td><span title="Prioridad: {$value->prioridad}">{$value->prioridad}</span></td>
                           <td class="text-right">{$value->email()}</td>
                           <td class="text-center">{$value->perfil}</td>
                           <td>{$value->codpais}</td>
                           <td>
                              {if="$value->destacado"}
                              <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
                              {/if}
                              {if="$value->tipo=='task'"}
                              <span class="glyphicon glyphicon-screenshot" title="Tarea"></span>
                              {/if}
                              {if="$value->privado"}
                              <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                              {/if}
                              {if="$value->estado=='cerrado'"}
                              <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
                              {/if}
                              {$value->resumen()}
                              {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
                           </td>
                           <td class="text-right"><span title="{$value->num_comentarios} comentarios">{$value->num_comentarios}</span></td>
                           <td class="text-right">
                              <a href="{$value->url()}">{$value->timesince()}</a>
                           </td>
                        </tr>
                        {/if}
                     {else}
                     <tr class="bg-warning">
                        <td></td>
                        <td colspan="6">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
            <div role='tabpanel' class='tab-pane' id='clientes'>
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th></th>
                           <th class="text-left">Email</th>
                           <th class="text-left">Perfil</th>
                           <th class="text-left">País</th>
                           <th class="text-left">IP</th>
                           <th class="text-right">Último login</th>
                        </tr>
                     </thead>
                     {loop="$fsc->tus_clientes"}
                     <tr class="clickableRow" href="{$value->url()}">
                        <td>
                           {if="$value->privado"}
                           <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                           {/if}
                        </td>
                        <td>
                           <a href="{$value->url()}">{$value->email}</a>
                           {if="$value->nick"}<span class="label label-default">{$value->nick}</span>{/if}
                        </td>
                        <td>{$value->perfil}</td>
                        <td>{$value->codpais}</td>
                        <td>{$value->last_ip}</td>
                        <td class="text-right">{$value->last_login()}</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
               <a href="index.php?page=community_visitantes" class="btn btn-info">
                  <span class="glyphicon glyphicon-list-alt"></span>
                  &nbsp; Más detalles...
               </a>
            </div>
            <div role='tabpanel' class='tab-pane' id='tareas'>
               {if="$fsc->tareas_parati"}
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th><span class="glyphicon glyphicon-flash" aria-hidden="true" title="Prioridad"></span></th>
                           <th class="text-left">Tarea</th>
                           <th class="text-right">
                              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                           </th>
                           <th class="text-right" width="120">Cambios</th>
                        </tr>
                     </thead>
                     {loop="$fsc->tareas_parati"}
                        {if="!$value->privado OR $value->rid==$fsc->rid"}
                        <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
                           <td><span title="Prioridad: {$value->prioridad}">{$value->prioridad}</span></td>
                           <td>
                              {if="$value->privado"}
                              <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                              {/if}
                              {if="$value->destacado"}
                              <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
                              {/if}
                              {if="$value->estado=='cerrado'"}
                              <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
                              {/if}
                              {$value->resumen()}
                              {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
                           </td>
                           <td class="text-right">{$value->num_comentarios}</td>
                           <td class="text-right">
                              <a href="{$value->url()}">{$value->timesince()}</a>
                           </td>
                        </tr>
                        {/if}
                     {/loop}
                  </table>
               </div>
               {/if}
               <p style="margin-top: 10px;">
                  Esta son las tareas que hay <mark>pendientes en FacturaScripts</mark>.
                  Eres libre de encargarte de cualquiera de ellas y ayudar al proyecto.
                  Para modificar FacturaScripts tan sólo necesitas unos <b>conocimientos básicos de PHP</b>,
                  seguir nuestro <b>curso de programación en vídeo</b>, y si tienes dudas,
                  escribirlas en la <a href='{function="comm3_path()"}index.php?page=community_questions'>sección preguntas</a>.
                  En unas horas estarás creando tus propios plugins ;-)
               </p>
               <a href='{function="comm3_path()"}index.php?page=community_item&amp;tag=curso_2015' target='_blank' class='btn btn-danger'>
                  <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                  &nbsp; Curso de FacturaScripts 2015
               </a>
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th><span class="glyphicon glyphicon-flash" aria-hidden="true" title="Prioridad"></span></th>
                           <th class="text-left">Tarea</th>
                           <th class="text-right">
                              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                           </th>
                           <th class="text-right" width="120">Cambios</th>
                        </tr>
                     </thead>
                     {loop="$fsc->resultados"}
                        {if="!$value->privado OR $value->rid==$fsc->rid"}
                        <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
                           <td><span title="Prioridad: {$value->prioridad}">{$value->prioridad}</span></td>
                           <td>
                              {if="$value->privado"}
                              <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
                              {/if}
                              {if="$value->destacado"}
                              <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
                              {/if}
                              {if="$value->estado=='cerrado'"}
                              <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
                              {/if}
                              {$value->resumen()}
                              {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
                           </td>
                           <td class="text-right">{$value->num_comentarios}</td>
                           <td class="text-right">
                              <a href="{$value->url()}">{$value->timesince()}</a>
                           </td>
                        </tr>
                        {/if}
                     {else}
                     <tr class="bg-warning">
                        <td colspan="4">Sin resultados.</td>
                     </tr>
                     {/loop}
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{include="footer"}