{include="header"}

<form action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="prioridades" value="TRUE"/>
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="page-header">
               <h1>
                  <span class="glyphicon glyphicon-blackboard"></span>
                  Plan de desarrollo
               </h1>
               <p>
                  Estas son las tareas asignadas a los informes de errores, sugerencias o preguntas
                  de <mark>{$fsc->email}</mark>
               </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 col-xs-4">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <a class="btn btn-sm btn-default" href="index.php?page=community_visitantes&email={$fsc->email}">
               <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Cliente
            </a>
         </div>
         <div class="col-sm-8 col-xs-8 text-right">
            {if="$fsc->resultados"}
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
            </button>
            {/if}
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <br/>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th width="130">Prioridad cliente</th>
                        <th width="120">Prioridad tarea</th>
                        <th>Tarea</th>
                        <th class="text-right">Estado</th>
                     </tr>
                  </thead>
                  {loop="$fsc->resultados"}
                  <tr{if="$value['item']->estado=='cerrado'"} class="success"{/if}>
                     <td>
                        <input type="number" name="priocli_{$value['relacion']->id}" value="{$value['relacion']->prioridad}" class="form-control" disabled="disabled"/>
                     </td>
                     <td><input type="number" name="prioridad_{$value['item']->id}" value="{$value['item']->prioridad}" class="form-control"/></td>
                     <td>{$value['item']->resumen()}</td>
                     <td class="text-right">
                        <a href="{$value['item']->url()}">{$value['item']->estado}</a>
                     </td>
                  </tr>
                  {else}
                  <tr class="bg-warning">
                     <td colspan="4">Sin resultados.</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
      </div>
   </div>
</form>

{include="footer"}