{include="header"}

{if="$fsc->nuevo_item"}
<form action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="tags" value="{$fsc->nuevo_item->tags}"/>
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h2>Nuevo anuncio de actualización</h2>
            <textarea name="texto" class="form-control" rows="15">{$fsc->nuevo_item->texto}</textarea>
            <br/>
            <div class="text-right">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>
{else}
<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-12 col-xs-12">
         <h2 style="margin-top: 0px;">Últimas actualizaciones</h2>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th><span class="glyphicon glyphicon-flash" aria-hidden="true" title="Prioridad"></span></th>
            <th class="text-right">Autor</th>
            <th class="text-left">Pais</th>
            <th class="text-left">Mensaje</th>
            <th class="text-right">
               <span class="glyphicon glyphicon-comment" aria-hidden="true" title="Comentarios"></span>
            </th>
            <th class="text-right" width="120">Cambios</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
         {if="!$value->ocultar_privado($fsc->user)"}
         <tr class="clickableRow {$value->bootstrap_class()}" href="{$value->url()}">
            <td><span title="Prioridad: {$value->prioridad}">{$value->prioridad}</span></td>
            <td class="text-right">{$value->email()}</td>
            <td>{$value->codpais}</td>
            <td>
               {if="$value->destacado"}
               <span class="glyphicon glyphicon-bookmark" title="Destacado"></span>
               {/if}
               {if="$value->tipo=='task'"}
               <span class="glyphicon glyphicon-screenshot" title="Tarea"></span>
               {/if}
               {if="$value->privado"}
               <span class="glyphicon glyphicon-eye-close" title="Privado"></span>
               {/if}
               {if="$value->estado=='cerrado'"}
               <span class="glyphicon glyphicon-lock" title="Cerrado"></span>
               {/if}
               {$value->resumen()}
               {if="$value->ultimo_comentario"}<br/>Último comentario: <b>{$value->ultimo_comentario}</b>{/if}
            </td>
            <td class="text-right"><span title="{$value->num_comentarios} comentarios">{$value->num_comentarios}</span></td>
            <td class="text-right">
            <a href="{$value->url()}">{$value->timesince()}</a>
            </td>
         </tr>
         {/if}
      {else}
      <tr class="warning">
         <td></td>
         <td colspan="5">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>
{/if}

{include="footer"}